.product-tabs
  &__header
    text-align center
    margin-bottom 2rem
  &__tabs
    display flex
    border-bottom 2px solid #f7a3c8
    @media screen and (max-width 786px)
      flex-wrap wrap
  &__tab
    margin-left 12px
    margin-right 12px
    line-height 3rem
    flex-basis calc(20% - 24px)
    flex-grow 1
    text-align center
    line-height 1
    vertical-align middle
    height 40px
    display flex
    align-items center
    justify-content center
    color #5e5e5e
    border 2px solid #d8d8d8
    border-bottom none
    cursor pointer
    @media screen and (max-width 768px)
      flex-basis 100%
      margin 0
    &:first-of-type
      margin-left 0
    &:last-of-type
      margin-right 0
    &_active
      font-weight 500
      color #3d3d3d
      box-shadow 0 4px 0 -2px #fff
      border 2px solid #f7a3c8
      border-bottom none
      & + .product-tabs__tab-content + .product-tabs__tab
        border-top none
  &__tab-content
    display none
    padding 1rem
    border 2px solid #f7a3c8
    border-top none
    .product-properties
      margin-bottom 0
      &::after
        display block
        content ''
        clear both
    &_active
      display block
  &__title
    @extends .product-payment-delivery__header
    &:not(:first-child)
      margin-top 1.1rem
  &__subheader
    @extends .product-payment-delivery__subheader
  :not(&__title) + &__subheader
    margin-top 1rem
