include ../scripts/scripts
include ../block-wrap/block-wrap
include ../base-styles/base-styles
include ../form/form
include ../aside-faq/aside-faq
include ../modal/modal
include ../gallery/gallery
include ../table/table

doctype html
html(lang='ru')
	head
		include ../head/head
	body
		include ../header/header
		main
			block content
		include ../footer/footer
	+scripts(['jquery-3.2.1.min.js'])
	+scripts(['fotorama.js'])
	+scripts(['jquery.modal.min.js'])
	+scripts(['script.js'])
	
