.blocker
  display flex
  justify-content center
  align-items center
  background-color rgba(91,73,128,.4)
.modal
  display none
  position relative
  padding 1.5rem 1rem
  border-radius 0
  flex-basis 420px
  width auto
  max-width 100%
  &__close:not(.btn)
    position absolute
    top .5rem
    right .5rem
    text-decoration none
    font-size 2rem
    height 1rem
    line-height 1rem
  &__header
    font-size 1.5rem
    font-weight 500
    margin-bottom .5rem
