mixin table(table = {'header':[''], 'rows':[['']]})

  table.table
    tr
      each th in table.header
        th !{th}
    each row in table.rows
      tr
        each elem in row
          td !{elem}
