.table
  width auto
  font-size 1rem
  line-height 1.5rem
  border-collapse collapse
  margin-bottom 1rem
  th
    font-weight bold
    padding 0.75rem 1rem
    background-color #f0f0f0
    border 1px solid #f0f0f0
    border-right 1px solid #fff
    &:last-child
      border-right 1px solid #f0f0f0
  td
    vertical-align top
    padding 0.75rem 1rem
    border 1px solid #f0f0f0
