+block-wrap({'wrap':true}).s-hidden
  +block-wrap__item(8,8,10).footer-main-payment
      .footer-main-payment__item.footer-main-payment__item_visa
      .footer-main-payment__item.footer-main-payment__item_master
      .footer-main-payment__item.footer-main-payment__item_yandex
      .footer-main-payment__item.footer-main-payment__item_webmoney
      .footer-main-payment__item.footer-main-payment__item_euroset
      .footer-main-payment__item.footer-main-payment__item_mts
      .footer-main-payment__item.footer-main-payment__item_megafon
  
