.footer-main-navigation
  border-right 2px solid #e0e0e0
  @media screen and (max-width 1024px)
    justify-content space-between
    border-right none
    border-bottom  2px solid #e0e0e0
  &__list
    margin-right 2rem
    margin-bottom 1rem
    @media screen and (max-width 1024px)
      margin-right 0
  &__item
    margin-bottom .5rem
    &:not(&_main)
      font-size 0.875rem
    &_main
      font-weight 500
  @supports (display grid)
    display flex
