
+block-wrap().footer-main-navigation
  ul.block-wrap__item.footer-main-navigation__list
    li.footer-main-navigation__item.footer-main-navigation__item_main
      +link-primary('','Каталог товаров') 
    li.footer-main-navigation__item
      +link('','Женские парики')
    li.footer-main-navigation__item
      +link('','Мужские парики')
    li.footer-main-navigation__item
      +link('','Десткие парики')
    li.footer-main-navigation__item
      +link('','Шиньоны и хвосты')
    li.footer-main-navigation__item
      +link('','Накладки')
    li.footer-main-navigation__item
      +link('','Средства по уходу')

  ul.block-wrap__item.footer-main-navigation__list
    li.footer-main-navigation__item.footer-main-navigation__item_main
      +link-primary('','О магазине париков') 
    li.footer-main-navigation__item
      +link('','Доставка и оплата')
    li.footer-main-navigation__item
      +link('','Новости и акции')
    li.footer-main-navigation__item
      +link('','Возврат товара')
    li.footer-main-navigation__item
      +link('','Контакты')
  ul.block-wrap__item.footer-main-navigation__list
    li.footer-main-navigation__item.footer-main-navigation__item_main
      +link-primary('','Помощь в подборе парика') 
    li.footer-main-navigation__item
      +link('','Полный гид по выбору парика')
    li.footer-main-navigation__item
      +link('','Как выбрать размер')
    li.footer-main-navigation__item
      +link('','Как выбрать стиль парика')
    li.footer-main-navigation__item
      +link('','Как заказать парик')
    li.footer-main-navigation__item
      +link('','Уход за париками')
