.product-payment-delivery
  &__header
    font-size 1.625rem
    margin-bottom .8125rem
  &__subheader
    font-size 1.25rem
    font-weight 500
    margin-bottom 0.625rem
    color #7b66a1
  :not(&__header) + &__subheader
    margin-top 0.625rem
