-
  var properties = [
    {name:'Тип волос',value:'Синтетические волосы (Канекалон)',clarification:'/'},
    {name:'Конструкция шапки',value:'Верх с имитацией кожи головы, Невидимая фронтальная линия волос'},
    {name:'Размер шапки',value:'54-56 см.',clarification:'/'},
    {name:'Изготовление',value:'Ручная работа'},
    {name:'Коллекция',value:'Annika Hansen'},
    {name:'Бренд:',value:'Ellen Wile'},
    {name:'Страна производитель',value:'Германия'}
  ]

.product-properties
  each item in properties
    .product-properties__item
      .product-properties__name !{item.name}
      .product-properties__value !{item.value}
        if item.clarification
          a.product-properties__clarification(href='') ?
