.catalog-sort.s-hidden
  .catalog-sort__title Сортировать:
  .catalog-sort__items
    .catalog-sort__item.catalog-sort__item_active по популярности
    a(href='').catalog-sort__item по возрастанию цены
    a(href='').catalog-sort__item по убыванию цены
    a(href='').catalog-sort__item по новинкам
    a(href='').catalog-sort__item по скидкам
  
