.catalog-sort
  display flex
  width calc(100% + 1rem)
  
  margin-left -.5rem
  margin-right -.5rem
  @media screen and (min-width 787px)
    font-size .875rem
  &__title
    margin-bottom 1rem
    font-weight 500
    margin-left .5rem
    margin-right .5rem
    margin-top 2px
  &__items
    display flex
    flex-wrap wrap
    align-items center
  &__item
    margin-bottom 1rem
    color #5e5e5e
    border 2px solid #d8d8d8
    margin-left .5rem
    margin-right .5rem
    text-align center
    text-decoration none
    padding-left .5rem
    padding-right .5rem
    &_active
      color #292929
      font-weight 500
      border-color #f7a3c8
