+block-wrap({
  'nopadding':true
}).xl-hidden.l-hidden.m-hidden.header-mobile
  +block-wrap__item(4,4,4,2).header-mobile__menu.mobile-menu
    include ../mobile-menu/mobile-menu
  +block-wrap__item(8,8,8,3).header-mobile__phone +7 (812) 413-99-06
  +block-wrap__item(8,8,8,5).header-mobile__search
    include ../header-search/header-search
  +block-wrap__item(8,8,8,1).header-mobile__search-switch
  
