.navigation-catalog
  &__list
    display flex
    font-size 0.9375rem
    position relative
  &__item
    flex-grow 1
    @media screen and (min-width 769px)
      &:hover
        .nav-submenu
            display flex
            @supports(display grid)
              display grid
    > a
      font-weight 500
      display block
      padding .5rem .25rem
      text-decoration none
      text-align center
      color #fff
      transition color .2s, background-color .2s
    &:hover
      > a
        color #7544b7
        background-color #f9f9f9
    &_active
      > a
        color #292929
        background-color #f9f9f9
