nav.navigation-catalog
  ul.navigation-catalog__list
    li.navigation-catalog__item.navigation-catalog__item_active
      a(href='') Парики
      include ../nav-submenu/nav-submenu
    li.navigation-catalog__item
      a(href='') Шиньоны и хвосты
    li.navigation-catalog__item
      a(href='') Накладки
    li.navigation-catalog__item
      a(href='') Головные уборы вместо париков
    li.navigation-catalog__item
      a(href='') Средства по уходу
