input(type='checkbox')#catalog-filter-mobile-switcher
label.catalog-filter-mobile-label(for="catalog-filter-mobile-switcher") Фильтр
.catalog-filter
  p(style='height: 640px; background-color: #bbb') здесь фильтр
