#catalog-filter-mobile-switcher
  display none

  &:checked ~ 
    .catalog-filter
      display block
    .catalog-filter-mobile-label
      color #292929
      &::after
        transform translateY(25%) rotate(135deg)
.catalog-filter-mobile-label
  display block
  margin-top 0.5rem
  color #7B7B7B
  border 2px solid #f7a3c8
  text-align center
  text-decoration none
  padding-left 0.5rem
  padding-right 0.5rem
  &::after
    content ''
    border-left 2px solid 
    border-bottom 2px solid 
    display inline-block
    width 0.5rem
    height 0.5rem
    margin-left 0.5rem
    transform translateY(-25%) rotate(315deg)
.catalog-filter
  margin-top 1.8125rem
  margin-bottom 1rem
  @media screen and (max-width 768px)
    display none
    margin-top .5rem
  .container-fluid
    padding 1rem 1rem 0
.bx-sidebar-block
  margin-bottom 0
