input#mobile-menu__check.mobile-menu__check(type='checkbox')
label.mobile-menu__label(for='mobile-menu__check') Меню
.mobile-menu__body
  nav.navigation-mobile
    ul.navigation-mobile__list
      li.navigation-mobile__item
        a(href='') Парики
        include ../nav-submenu/nav-submenu
      li.navigation-mobile__item.navigation-mobile__item_active
        a(href='') Шиньоны и хвосты
      li.navigation-mobile__item
        a(href='') Накладки
      li.navigation-mobile__item
        a(href='') Головные уборы вместо париков
      li.navigation-mobile__item
        a(href='') Средства по уходу
  nav.navigation-mobile
    ul.navigation-mobile__list
      li.navigation-mobile__item
        a(href='') О магазине
      li.navigation-mobile__item
        a(href='') Доставка и оплата
      li.navigation-mobile__item
        a(href='') Новости и акции
      li.navigation-mobile__item
        a(href='') Все о париках
      li.navigation-mobile__item
        a(href='') Консультация
      li.navigation-mobile__item
        a(href='') Контакты  
  .navigation-mobile.navigation-mobile-other
    .navigation-mobile-other__title Другие направления
    include ../nav-top/nav-top
