.mobile-menu
  position relative
  &__label
    position relative
    display block
    width 100%
    height 46px
    background #5b4980
    color #fff
    font-size 1.071428571428571rem
    font-weight 500
    line-height 1.25
    padding-top 1rem
    padding-left 44px
    cursor pointer
    margin-bottom 0
    &::before
      display block
      content '|||'
      position absolute
      left 1rem
      top 50%
      transform translateY(-50%) rotate(90deg)
  &__body
    display none
    width 320px
    z-index 100
  &__check
    display none
    &:checked
      ~ .mobile-menu
        &__label
          color #292929
          background-color #f9f9f9
          &::before
            content '×'
            transform translateY(-50%)
            font-size 2rem
            line-height 3rem
            font-weight 300
        &__body
          position absolute
          top 46px
          left 0
          display flex
          flex-direction column
          z-index 100
.navigation-mobile
  &__list
    display flex
    flex-direction column
  &__item
    a
      display block
      font-size 1rem
      line-height 3rem
      background-color #fff
      padding-left 16px
      padding-right 16px
      text-decoration none
      transition background-color .2s, color .2s
      &:hover
        background-color #7b66a1
        color #fff
    &_active
      a
        background-color #7b66a1
        color #fff
    &_parent
      display flex
      flex-wrap wrap

      > a
        width calc(100% - 3rem)
  &__parent-switcher
    width 3rem
    display inline-flex
    justify-content center
    align-items center
    background-color #fff
    cursor pointer
    &::after
      content ''
      width 1rem
      height 1rem
      border-bottom 3px solid
      border-left 3px solid
      transform rotate(-45deg)

  &-other
    padding 1rem
    background-color #efefef
    &__title
      margin-bottom 1rem
      font-weight 500
    .navigation-other-activities
      &__list
        flex-direction column
        margin 0
      &__item
        margin-left 0
        a
          border-left 2px #fff solid
        &:hover
          background-color transparent
          a
            background-color #fff
            border-left 2px #7b66a1 solid
          .a-repl
            background-color #fff
        &_active
          background-color transparent
          .a-repl
            background-color #fff
            border-left 2px #7b66a1 solid
