.navigation-main
  &__list
    display flex
    justify-content space-between
    border-bottom 1px solid #e0e0e0
    @media screen and (max-width 1024px)
      flex-wrap wrap
  &__item
    margin-left 4px
    margin-right 4px
    margin-bottom -1px
    font-size 0.8125rem
    line-height 1.125rem
    @media screen and (max-width 1024px)
      flex-basis calc(100%/3 - 4px)
      margin-right 0
    &:first-child
      margin-left 0
    &:last-child
      margin-right 0
    a
      display inline-block
      padding .5rem 0
      text-decoration none
      color #7b66a1
      border-top 4px solid transparent
      border-bottom 4px solid transparent
      transition border-bottom .2s
      &:hover
        border-bottom 4px solid #7b66a1
    &_active
      a
        border-bottom 4px solid #7b66a1
        
