.mobile-filter-item
  display flex
  position relative
  justify-content space-between
  margin 1rem -0.5rem
  @media screen and (min-width 769px)
    flex-direction column
    align-items center 
  .bx-filter-parameters-box-title-wrapper
    max-width 50%
    margin 0 0.5rem
    flex-shrink 0
    @media screen and (min-width 769px)
      max-width 100%
  &__name
    font-weight bold
    span.bx-filter-parameters-box-hint
      border-bottom none 
      cursor default
  &__property
    position relative
    overflow hidden
    margin-left auto
    @media screen and (min-width 769px)
      max-width 100%
      margin-left 0
    .checkbox
      position absolute
      z-index -1
      right 0
      opacity 0
      border none
      outline none
      font-size 18px
  &__label
    margin 0 0.5rem
    color #565656
    display block
    white-space nowrap
    overflow-x hidden
    text-overflow ellipsis
    max-width 100%
    z-index 10
  &__select
    position absolute
    z-index 2
    right 0
    top 0
    opacity 0
    border none
    outline none
    font-size 18px
    width 100%
