.mobile-filter
  .mobile-filter-item
    .mobile-filter-item__name Свойство
    .mobile-filter-item__property
      label.mobile-filter-item__label.mobile-filter-item__label_inactive(for='property-1') Свойство
      label.mobile-filter-item__label.mobile-filter-item__label_active(for='property-1')
      select.mobile-filter-item__select#property-1(name="property-1" multiple)
        option(value="option-1") Значение 1
        option(value="option-2") Значение 3
        option(value="option-3") Значение 4
        option(value="option-4") Значение 5
        option(value="option-5") Значение 6
  .mobile-filter-item
    .mobile-filter-item__name Свойство
    .mobile-filter-item__property
      label.mobile-filter-item__label.mobile-filter-item__label_inactive(for='property-2') Свойство
      label.mobile-filter-item__label.mobile-filter-item__label_active(for='property-2')
      select.mobile-filter-item__select#property-2(name="property-2" multiple)
        option(value="option-1") Значение 1
        option(value="option-2") Значение 3
        option(value="option-3") Значение 4
        option(value="option-4") Значение 5
        option(value="option-5") Значение 6
