*
	margin 0
	padding 0
	box-sizing border-box
ul
ol
	list-style none
input
button
	border none
	outline none
	display block
textarea
	border none
	outline none
	display block
	resize none
	
img
	display block
	max-width 100%
