.header-info
  padding .5rem 0 1rem
  &__phone
    flex-shrink 0
  &__big
    font-size 1.25rem
    @media screen and (max-width 1024px)
      font-size 1.125rem
    @media screen and (max-width 786px)
      font-size 0.9375rem
  &__small
    font-size 0.875rem
    color #7a7a7a
  @supports (display grid)
    &.block-wrap
    .block-wrap
      display flex
