+block-wrap().block-wrap_justify-space-between.header-info
  .block-wrap__item.header-info__title
    .header-info__big Интернет-магазин париков в Санкт-Петербурге
    +block-wrap().block-wrap_justify-space-between
      .block-wrap__item.header-info__small Доставка по России
      .block-wrap__item.header-info__big.xl-hidden.l-hidden +7 (812) 386-11-62
  .block-wrap__item.header-info__phone.m-hidden.s-hidden
    .header-info__big +7 (812) 386-11-62
    .header-info__small с 10 до 21 без выходных
