@import 'includes/reset'
@import 'includes/fonts'
@import 'includes/variables'
@import 'includes/fotorama.css'
@import 'includes/jquery.modal.min.css'
html
    font-family 'Fira Sans'
    font-size 16px
    line-height 1.5
    color #292929
    @media screen and (max-width 786px)
      font-size 14px
import('../blocks/**/*')

.xl-hidden
	@media screen and (min-width 1201px)
		display none
.l-hidden
	@media screen and (max-width 1200px) and (min-width 1025px)
		display none
.m-hidden
	@media screen and (max-width 1024px) and (min-width 787px)
		display none
.s-hidden
	@media screen and (max-width 786px)
		display none
