.catalog-list
  align-items flex-start
  align-content flex-start
  &__item
    position relative
    @media screen and (max-width 480px)
      flex-basis 100%
      @supports (display grid)
        grid-column span 12
