.home-catalog
  &__header
    text-align center
    margin-bottom 2rem
  &__tabs-container
    position relative
  &__tabs
    display flex
    border-bottom 2px solid #f7a3c8
    @media screen and (max-width 786px)
      flex-wrap wrap
      display none
      position absolute
      top 34px
      left 0
      width 100%
      background-color #fff
      border-bottom none
      z-index 10
      &_m-active
        display flex
  &__tab
    margin-left 12px
    margin-right 12px
    line-height 3rem
    flex-basis calc(20% - 24px)
    flex-grow 1
    text-align center
    color #5e5e5e
    border 2px solid #d8d8d8
    border-bottom none
    cursor pointer
    @media screen and (max-width 786px)
      flex-basis 100%
      margin 0
      &:last-of-type:not(.home-catalog__tab_active)
        border-bottom 2px solid #d8d8d8
    &:first-of-type
      margin-left 0
    &:last-of-type
      margin-right 0
    &_active
      font-weight 500
      color #3d3d3d
      box-shadow 0 4px 0 -2px #fff
      border 2px solid #f7a3c8
      border-bottom none
      @media screen and (max-width 786px)
        border-bottom 2px solid #f7a3c8
        + .home-catalog__tab
          border-top none
  &__tab-content
    display none
    &_active
      display block
  &__mobile-switch
    position relative
    cursor pointer
    height 36px
    line-height 32px
    padding 0 1rem
    font-weight 500
    border 2px solid #f7a3c8
    @media screen and (min-width 787px)
      display none
    &::after
      position absolute
      right 1rem
      content '\25BC'
    &_active
      &::after
        content '\25B2'
