+container().home-catalog
  +content()
    h1.home-catalog__header Продаем парики в Санкт-Петербурге с доставкой по России
    .home-catalog__tabs-container
      .home-catalog__mobile-switch#home-catalog__mobile-switch
      .home-catalog__tabs
        .home-catalog__tab.home-catalog__tab_active(data-home-catalog-tab='home-catalog-tab1') Натуральные
        .home-catalog__tab(data-home-catalog-tab='home-catalog-tab2') Искусственные
        .home-catalog__tab(data-home-catalog-tab='home-catalog-tab3') Короткие
        .home-catalog__tab(data-home-catalog-tab='home-catalog-tab4') Длинные
        .home-catalog__tab(data-home-catalog-tab='home-catalog-tab5') Мужские
      .home-catalog__tabs-content
        .home-catalog__tab-content.home-catalog__tab-content_active(data-home-catalog-tab='home-catalog-tab1')
          include ../home-catalog-list/home-catalog-list
        .home-catalog__tab-content(data-home-catalog-tab='home-catalog-tab2')  2
        .home-catalog__tab-content(data-home-catalog-tab='home-catalog-tab3')  3
        .home-catalog__tab-content(data-home-catalog-tab='home-catalog-tab4')  4
        .home-catalog__tab-content(data-home-catalog-tab='home-catalog-tab5')  5
