
h1
.h1
  margin 1.5rem 0 .5rem
  font-size 2.125rem
  font-weight 500
  line-height 2.75rem
  br + small
    margin-bottom 1.5rem
h2
.h2
  margin 1.5rem 0 .5rem
  font-size 1.875rem
  font-weight 500
  line-height 2.25rem
h3
.h3
  margin 1.5rem 0 .5rem
  font-size 1.625rem
  font-weight 500
  line-height 2.125rem
h4
.h4
  margin 1.5rem 0 .5rem
  font-size 1.25rem
  font-weight 500
  line-height 1.875rem
h5
.h5
  margin 1.5rem 0 .5rem
  font-size 1.125rem
  font-weight 500
  line-height 1.875rem
.h1-subheader
  margin-bottom 1.5em
  font-size 1.25rem
  font-weight 500
  line-height 1.1em
.list-marked
  margin-bottom .5rem
  li
    line-height 1.875rem
    &::before
      content '\2023'' '
.list-numbered
  margin-bottom .5rem
  counter-reset list
  li
    line-height 1.875rem
    &::before
      counter-increment list
      content counter(list)'. '
      font-size 1.25rem
      font-style italic
.list-descriptions
  margin-bottom .5rem
  line-height 1.5rem
  dt
    margin-bottom .25rem
    font-size 1.125rem
  dd
    margin-bottom .75rem
p
  margin-bottom .5rem
  font-size 1rem
  line-height 1.5rem
a
  color #5e5e5e
  transition .2s color
  &:hover
    color #292929
  &.link-primary
    color #292929
    &:hover
      color #7b66a1
  &.link-interactive
    position relative
    text-decoration none
    color #7b66a1
    &::after
      content '?'
      display inline-block
      width 14px
      height 14px
      margin-left .5rem
      font-size 0.6875rem
      line-height 0.9375rem
      text-align center
      color #fff
      background-color #7b66a1
      border-radius 50%
      transition background-color .2s
    span
      border-bottom 2px dotted #7b66a1
      transition .2s border-bottom
    &:hover
      color #7544b7
      span
        border-bottom 2px dotted #7544b7
      &::after
        background-color #7544b7
  &[href^='#']
    text-decoration none
    border-bottom 1px dotted
    @supports (text-decoration-style dotted)
      border-bottom none
      text-decoration underline
      text-decoration-style dotted
.btn
  display inline-block
  padding-left 1.375rem
  padding-right 1.375rem
  min-width 132px
  font-size 0.875rem
  font-weight 500
  line-height 2.25rem
  text-align center
  text-decoration none
  color #fff
  background-color #7b66a1
  transition background-color .2s
  &:hover
    color #fff
    background-color #6337a9

.btn-big
  display inline-block
  padding-left 1.375rem
  padding-right 1.375rem
  font-size 20px
  font-weight 500
  line-height 3.125rem
  text-align center
  text-decoration none
  color #fff
  background-color #eb47a4
  box-shadow 0 0 4px 2px rgba(69,58,90,.2)
  transition background-color .2s, box-shadow .2s
  &:hover
    color #fff
    background-color #db3186
    box-shadow 0 0 0 0 rgba(69,58,90,.2)
.text-highlighted
.text-highlighted p
  font-size 1.125rem
  color #7b66a1
.image-desc
  &__img
    margin-bottom .5rem
  &__desc
    font-style italic
    line-height 1.375rem
    margin-bottom 1rem
.container
  width 100%
  display flex
  justify-content center
  padding-left calc(100vw - 100%)
.content
  flex-basis 1176px
  max-width 1176px
  width 100%
  @media screen and (max-width 1220px)
    //flex-basis 972px
    flex-basis 100%
    flex-shrink 0
    padding-left 16px
    padding-right 16px
  //@media screen and (max-width 1024px)
  //  flex-basis 756px
  //@media screen and (max-width 786px)
    //flex-basis 100%
    //flex-shrink 0
  //  padding-left 16px
  //  padding-right 16px
.breadcrumbs
  padding 1rem 0
  border-bottom 1px solid #eeebf3
  font-size .8rem
  @media screen and (max-width 786px)
    font-size .9285rem
  &__list
    display flex
    flex-wrap wrap
  &__item
    padding-right 8px
    margin-right 4px
    position relative
    a
      color #292929
      text-decoration none
      &:hover
        text-decoration underline
    &::after
      content '\203A'
      position absolute
      right 0
      top 0
    &_last
      span
        color #7a7a7a
      &::after
        content none
.link-header2
  padding-left 30px
  font-size 1.875rem
  font-style italic
  margin-bottom 1rem
  a
    padding 0 16px
    height 4.5rem
    text-decoration none
    color #292929
    border 4px solid #d8d8d8
    transition border-color .2s
    display flex
    align-items center
    &:hover
      border-color #f7a3c8
    span
      transform translateX(-48px)
      background-color #fff
      line-height 2
      white-space nowrap
  @media screen and (max-width 1220px)
    font-size 1.5rem
  @media screen and (max-width 1024px)
    font-size 1.25rem
.video-responsive
  margin-bottom 1rem
  &__iframe
    position relative
    padding-bottom 56.25%
    margin-bottom .5rem
    iframe
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      border 0
  &__desc
    font-style italic
    line-height 1.375rem
    margin-bottom 1rem
