extends /blocks/layout/layout

block content
	.container
		.content
					
			+breadcrumbs(['Главная','Каталог','Парики'])
			+block-wrap()
				+block-wrap__item(8, 8, 12, 6)
					+h1('Заголовок первого уровня, длинный чтобы настроить межстрочный интрвал. Длинный, но красивый заголовок, всем понравится <h1>')
					+h1sub('Под заголовок у заголовка первого уровня, редкий зверь')
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					+h2('Заголовок второго уровня, длинный чтобы настроить межстрочный интрвал. Заметили что он в три строки, такое тоже бывает  <h2>')
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					+h3('Заголовок третьего уровня, длинный чтобы настроить межстрочный интрвал. Заметили что он в три строки, такое тоже бывает. Длинный, но красивый заголовок, всем понравится <h3>')
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					+h4('Заголовок третьего уровня, длинный чтобы настроить межстрочный интрвал. Заметили что он в три строки, такое тоже бывает. Длинный, но красивый заголовок, всем понравится <h3>')
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					+h5('Заголовок третьего уровня, длинный чтобы настроить межстрочный интрвал. Заметили что он в три строки, такое тоже бывает. Длинный, но красивый заголовок, всем понравится <h3>')
					p Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные 
						strong жирным шрифтом.
						|  Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".
					-
						 var listMarked =
							[
								'Список не нумерованный',
								'Вторая позиция',
								'Третья',
								'Обычный блок с текстом, обратите внимание, что в тексте встречаются слова написанные <strong>жирным шрифтом</strong>. Каждый из способов имеет свои плюсы и минусы, поэтому каждый человек, прежде чем сделать выбор в пользу того или иного метода, должен тщательно изучить каких результатов он сможет добиться и какой ценой. К сожалению далеко не все, кто предлагает помощь в лечении, дают полную информацию о своем методе и о других путях решения проблемы. Мы предлагаем Вам оценить эффективность существующих методик с помощью "Единой сравнительной таблицы".'
							]
					+list-marked(listMarked, 'id')
					+list-marked(listMarked)
					+list-numbered(listMarked, 'id')
					+list-numbered(listMarked)
					p
						+link('/', 'Обычная ссылка, она обязательно привлечени внимание')
					p
						+link-primary('/', 'Обычная ссылка, она обязательно привлечени внимание')
					p
						+link-interactive('/', 'Кликни на меня и на странице что то произойдет')

					+link('/','Подобрать').btn
					+link('/','Добавить в корзину').btn-big
					+image('/images/zaglooshqa.jpg','это заглушка','это тайтл')
					+image-desc('/images/zaglooshqa.jpg','это заглушка','это тайтл','Подпись к картинке,она тоже может быть очень длинной и не влазить в одну строку. Подпись к картинке,она тоже может быть очень длинной и не влазить в одну строку.')
