extends /blocks/layout/layout

block content
  +container()
    +content().catalog
      +breadcrumbs(['Главная','Каталог','Парики'])
      +block-wrap({'wrap':true})
        +block-wrap__item(3,3,3,6)
          .bx-sidebar-block
            include ../blocks/mobile-filter/mobile-filter
            include ../blocks/catalog-filter/catalog-filter
            +aside-faq(
              'Помощь в выборе парика',
              [
                ['','Как подобрать парик'],
                ['','Чем отличются основы'],
                ['','Чем отличаются натуральные и искусственные  волосы в парике']
              ]
            ).s-hidden
        +block-wrap__item(9,9,9,6)
          +h1('Парики')
          p
            | Продаем парики с 
            strong 2002 года.
            |  Большой выбор из около 
            strong 200 моделей
            |  в наличии. Доставим по России. Соблюдаем 
            strong конфиденциальность
            | , есть отдельная примерочная. Большой опыт работы с людьми с потерей волос. Продаем 
            strong качественные европейские парики
            | , не отличить от своих волос, 
            strong не заметны
            | , надежная фиксация. Наши стилисты бесплатно подберут 
            strong для вас стиль.
          include ../blocks/catalog-sort/catalog-sort
          include ../blocks/catalog-list/catalog-list
          include ../blocks/catalog-description/catalog-description
      +block-wrap({'wrap':true})
        +block-wrap__item(12)
          +h2('Просмотренные ранее товары')
