extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/chem-otlichayutsya-osnovy-parika/'
  .container
    .content
      p Основа парика&nbsp;&mdash; это материал, к&nbsp;которой прикреплены волосы. Другое название&nbsp;&mdash; монтюр парика. Иногда основу называют &laquo;шапочкой&raquo;.
      p При выборе парика важно учитывать вид основы. Существует несколько видов основ, каждый из&nbsp;которых имеет свою конструкцию, способ крепления волос к&nbsp;основе и&nbsp;особенности.
      p Существует два основных способа крепления волос к&nbsp;основе. Это тресование и&nbsp;тамбуровка.
      +list-numbered([
        'В&nbsp;первом случае готовый тресс пришивается к&nbsp;основе. Трессовые изделия могут производиться как вручную, так и&nbsp;с&nbsp;помощью машин.',
        'Метод тамбуровки&nbsp;&mdash; волосы крепятся к&nbsp;основе особым постижерным крючком. Стоит отметить, что тамбурованный парик требует очень кропотливой работы профессионала, потому и&nbsp;стоят такие изделия обычно на&nbsp;порядок дороже трессированных.'
      ])
      p Конструкция основы парика может влиять&nbsp;на:
      +list-marked([
        'стоимость парика',
        'вес парика, его легкость',
        'вентиляцию, проходимость воздуха, комфорт в&nbsp;жару',
        'незаметность какой-то части парика и/или фронтальной линии',
        'посадку по&nbsp;форме головы, изменения размера шапки',
        'легкость укладки',
        'возможность делать укладку или пробор в&nbsp;любую сторону',
        'пышность волос в&nbsp;определенной зоне',
        'надежность крепления парика'
      ])


      h2 Составные части основы
      +image(imagesFolder+'wig-base.jpg', 'Схема основы парика')
      p На&nbsp;рисунке схематически изображен один из&nbsp;видов основ. В&nbsp;зависимости от&nbsp;вида основы в&nbsp;ней могут отсутствовать некоторые части.
      +list-marked([
        'Вдоль линии волос находится ультратонкая сетка. Благодаря ей&nbsp;линия роста волос выглядит натурально и&nbsp;практически незаметна.',
        'По&nbsp;линии обхвата головы и&nbsp;вдоль трессов находится антискользящая полоска, которая увеличивает комфорт во&nbsp;время ношения: позволяет носить парик без ощущения давления и&nbsp;чувства соскальзывания изделия.',
        'Эластичные резинки, находящиеся с&nbsp;двух сторон, позволяют регулировать размер шапки парика по&nbsp;окружности головы с&nbsp;учетом ее&nbsp;индивидуальных особенностей. Необходимый размер фиксируется с&nbsp;помощью липучки или крючков.',
        'Мягкие планки с&nbsp;нескользящими полосками, расположенные в&nbsp;области висков, дают возможность правильно посадить и&nbsp;выровнять парик на&nbsp;голове.',
        'Основная часть состоит из&nbsp;трессовой основы&nbsp;&mdash; полосок волос, состроченных вместе и&nbsp;пришитых к&nbsp;легкой ткани. Трессы удобны в&nbsp;ношении, обеспечивают хороший доступ воздуха, оптимальную посадку по&nbsp;форме головы.',
        'В&nbsp;верхней части находится монофиламент&nbsp;&mdash; прозрачная сетка, имитирующая кожу головы, в&nbsp;которую вручную закреплены волосы. Создает эффект натурального роста волос, позволяет делать пробор в&nbsp;любом направлении.'
      ])


      h2 Виды основы парика

      h3 Трессы
      p Основа данных париков сделана из&nbsp;трессов&nbsp;&mdash; пришитые к&nbsp;легкой ткани полоски из&nbsp;состроченных вместе волос.
      h4 Плюсы
      +list-marked([
        'Доступные по&nbsp;цене',
        'Обеспечивают отличную вентиляцию и&nbsp;прохладу (особенно в&nbsp;жаркую погоду).',
        'Дает хорошую посадку по&nbsp;форме головы.',
        'Парики из&nbsp;трессов легко поддаются укладке.',
        'Придают волосам естественный объем. Волосы предварительно начёсаны у&nbsp;корней, чтобы скрыть основу.',
        'Прочные.'
      ])
      h4 Минусы
      +list-marked([
        'В&nbsp;зоне трессов нельзя делать пробор или укладывать волосы в&nbsp;любом направлении, так как могут быть заметны сами трессы.',
        'Не&nbsp;так естественно выглядят, как парики из&nbsp;монофиламента и&nbsp;ручной работы.'
      ])
      +link('/catalog/pariki/filter/base-is-tressy-bez-setki/apply/','Парики с такой основой в каталоге').btn
      h4 Примеры основ данного вида:
      +image(imagesFolder+'wig-base-tress.jpg', 'Парик с трессовой основой')

      h3 Монофиламент + Трессы
      p В&nbsp;данных париках часть основы сделана из&nbsp;монофиламента. Монофиламент&nbsp;&mdash; это прозрачная и&nbsp;легкая сетка, через которую хороша видна кожа. В&nbsp;нее вручную закреплены волосы, таким образом создавая эффект естественного роста волос. Остальная часть выполнена из&nbsp;трессов.
      h4 Плюсы
      +list-marked([
        'В&nbsp;области монофиламента вы&nbsp;можете делать пробор или укладывать волосы в&nbsp;любом направлении.'
      ])
      //
      h4 Минусы
      +list-marked([
        'В&nbsp;области трессов нельзя делать пробор или укладывать волосы в&nbsp;любом направлении, так как могут быть заметны сами трессы.',
        'Не&nbsp;так естественно выглядят, как парики из&nbsp;100% ручной работы.'
      ])
      +link('/catalog/pariki/filter/base-is-monofilament-tressy/apply/','Парики с такой основой в каталоге').btn
      h4 Примеры основ данного вида:
      +image(imagesFolder+'wig-base-monofilament-tress.jpg', 'Парик с основой Монофиламент + Трессы')

      h3 Монофиламент + Ручная работа
      p В&nbsp;данных париках часть основы сделана из&nbsp;монофиламента. Монофиламент&nbsp;&mdash; это прозрачная и&nbsp;легкая сетка, через которую хороша видна кожа. В&nbsp;нее вручную закреплены волосы, что создает эффект естественного роста волос. Остальная часть выполнена из&nbsp;сетки, в&nbsp;которую вручную закреплены волосы.
      h4 Плюсы
      +list-marked([
        'В&nbsp;области монофиламента вы&nbsp;можете делать пробор или укладывать волосы в&nbsp;любом направлении.',
        'Очень легкий'
      ])
      +link('/catalog/pariki/monofilament-ruchnaya-rabota-na-setke/','Парики с такой основой в каталоге').btn
      h4 Примеры основ данного вида:
      +image(imagesFolder+'wig-base-monofilament-handwork.jpg', 'Парик с основой Монофиламент + Ручная работа')

      h3 100% ручная работа
      p Основа парика&nbsp;&mdash; мягкая и&nbsp;легкая сетка, которая облегает голову. Каждый волос вручную закреплен в&nbsp;основу.
      h4 Плюсы
      +list-marked([
        'Это создает эффект роста волос и&nbsp;естественного движения волос.',
        'Это самая легкая и&nbsp;самая удобная основа, которая идеально подходит для чувствительной кожи головы и&nbsp;при облысении.',
        'Каждый волос свободно двигается, обеспечивая естественный вид.',
        'Вы&nbsp;можете делать пробор или укладывать волосы в&nbsp;любом направлении.'
      ])
      h4 Минусы
      +list-marked([
        'Требуют более бережного отношения, чем другие парики.',
        'Дороже, чем парики из&nbsp;трессов'
      ])
      +link('/catalog/pariki/100-ruchnaya-rabota/','Парики с такой основой в каталоге').btn
      h4 Примеры основ данного вида:
      +gallery([{'url':imagesFolder+'wig-base-handwork.jpg', 'alt':'Парик с основой ручной работы'}])
      
      h3 Невидимая фронтальная линия
      p Это не&nbsp;отдельный вид основ, а&nbsp;дополнительная возможность, которую может иметь любая основа.
      p Спереди, а&nbsp;в&nbsp;некоторых видах основ, также и&nbsp;по&nbsp;бокам находится ультратонкая прозрачная сетка,на которой вручную закреплены волосы.
      p Сама сетка обычно прозрачная, поэтому абсолютно незаметна на&nbsp;коже..
      h4 Плюсы
      +list-marked([
        'Таким образом линия роста волос выглядит практически невидимой.',
        'Поэтому волосы могут быть собраны назад или убраны набок в&nbsp;сторону от&nbsp;лица.',
        'Чтобы парик выглядел натурально, нет необходимости в&nbsp;челке.'
      ])
      h4 Минусы
      +list-marked([
        'Менее долговечна, чем другие основы'
      ])
      +link('/catalog/pariki/frontalnaya-liniya/','Парики с невидимой фронтальной линией в каталоге').btn
      //h4 Примеры основ данного вида:
      //фотографии


      h2 Рекомендации по&nbsp;выбору основ парика

      h3 Бюджет
      p Если вопрос бюджета для вас важен&nbsp;&mdash; выбирайте парики с&nbsp;основой трессы, либо монофиламент + трессы. Они самые доступные.

      h3 Естественность, легкость и&nbsp;комфорт
      p Если вы&nbsp;хотите иметь легкий парик с&nbsp;максимально естественным видом, который можно укладывать, зачесывать на&nbsp;любую сторону&nbsp;&mdash; выбирайте парики с&nbsp;основой 100% ручная работа.

      h3 Незаметность в&nbsp;определенной зоне
      p Если вы&nbsp;хотите носить пробор или укладывать волосы в&nbsp;любом направлении в&nbsp;определенной зоне головы, выбирайте парики с&nbsp;основой монофиламент. Если вы&nbsp;хотите собирать волосы назад или носить прическу без челки&nbsp;&mdash; выбирайте парик с&nbsp;элементом невидимой фронтальной линии.
