extends /blocks/layout/layout

block content
	
	include ../blocks/home-top/home-top
	include ../blocks/home-catalog/home-catalog
	include ../blocks/home-other-products/home-other-products
	include ../blocks/home-description/home-description
	include ../blocks/home-news/home-news
