extends /blocks/layout/layout

block content
  .container
    .content
      p В&nbsp;первую очередь, главной особенностью таких изделий является именно качество волос. Только натуральные волосы, вошедшие в&nbsp;основу качественных париков, определяют его незаметность и&nbsp;естественность.
      p Второй немаловажной характеристикой качественных париков называют прочность фиксации волос. Ведь куда выгоднее заплатить больше денег, но&nbsp;обеспечить себе, тем самым, максимально продолжительный срок службы изделия. В&nbsp;целом, степень фиксации должна быть настолько прочной, что на&nbsp;протяжении всего срока носки из&nbsp;парика не&nbsp;должно вычесываться или вытягиваться ни&nbsp;одного волоса. Чтобы это проверить, следует потянуть за&nbsp;волосок в&nbsp;разных участках парика. Если перед вами качественное изделие, то&nbsp;вы&nbsp;не&nbsp;сможете вытянуть волосок, разве что он&nbsp;порвется в&nbsp;вашей руке.
      h2 Какими должны быть качественные парики?
      p Однако полностью быть уверенными в&nbsp;надежности крепления волос вы&nbsp;сможете только по&nbsp;факту их&nbsp;мытья и&nbsp;укладки. Но&nbsp;чтобы хотя&nbsp;бы как-то перестраховать себя в&nbsp;момент покупки, поинтересуйтесь наличием гарантии от&nbsp;производителя в&nbsp;плане сохранности волос в&nbsp;постижерном изделии.
      p В&nbsp;момент мытья и&nbsp;носки волосы парика не&nbsp;могут спутываться. Если этого не&nbsp;наблюдается, то&nbsp;это означает, что накладка производилась при несоблюдении правила единой направленности волос. Или&nbsp;же это может говорить о&nbsp;том, что волосы прошли химическую обработку, в&nbsp;ходе которой был задет кератиновый шар волоса.
      p Немаловажно, чтобы парик из&nbsp;салона превосходно сидел на&nbsp;голове. Ведь его нельзя рассматривать как аналог шапки, при выборе которой учитывается лишь величина окружности головы. Размеры могут сильно отличаться, поэтому, выбирая постижерное изделие, принимают во&nbsp;внимание особенности формы головы.
      p И&nbsp;последняя особенность, на&nbsp;которую обращают внимание, выбирая качественные изделия в&nbsp;магазине, это внешний вид теменной зоны. Она должна выглядеть самым лучшим образом.
