extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/kak-vybrat-stil-parika/'
    var catalogWigs = '/catalog/pariki/'
  .container
    .content
      p Рассмотрим, как выбирать прически на&nbsp;париках.
      h2 Выбор парика в&nbsp;зависимости от&nbsp;стиля прически
      p В&nbsp;каталоге вы&nbsp;легко сможете подобрать вариант стиля прически, который вам по&nbsp;душе. 
      p Стиль прически:
      p
        strong Повседневный
      p Подходит на&nbsp;каждый день, укладка обычная.
      +gallery(
        [
          {'url':imagesFolder+'style-daily-1.jpg','alt':'Date','link':{'url':catalogWigs+'date-mono.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-daily-2.jpg','alt':'Miley Petite Mono','link':{'url':catalogWigs+'miley-small-mono.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-daily-3.jpg','alt':'Icone','link':{'url':catalogWigs+'icone.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-daily-4.jpg','alt':'Cher Futura','link':{'url':catalogWigs+'cher.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )
      p
        strong Спортивный
      p Простые и&nbsp;удобные прически на&nbsp;коротких волосах.
      +gallery(
        [
          {'url':imagesFolder+'style-sport-1.jpg','alt':'Award','link':{'url':catalogWigs+'award.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-sport-2.jpg','alt':'Liza small Deluxe','link':{'url':catalogWigs+'liza-small-deluxe.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-sport-3.jpg','alt':'Johnny Sport','link':{'url':catalogWigs+'johnny-sport.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-sport-4.jpg','alt':'Debbie','link':{'url':catalogWigs+'debbie.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )
      p
        strong Романтический
      p Прически на&nbsp;длинных волосах, с&nbsp;волнами или локонами. 
      +gallery(
        [
          {'url':imagesFolder+'style-romantic-1.jpg','alt':'Soul','link':{'url':catalogWigs+'soul.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-romantic-2.jpg','alt':'Naomi','link':{'url':catalogWigs+'naomi.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-romantic-3.jpg','alt':'Emotion','link':{'url':catalogWigs+'emotion.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-romantic-4.jpg','alt':'Cascade','link':{'url':catalogWigs+'cascade-new.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )
      p
        strong Деловой
      p Главные критерии&nbsp;&mdash; сдержанность и&nbsp;строгость.
      +gallery(
        [
          {'url':imagesFolder+'style-work-1.jpg','alt':'Echo','link':{'url':catalogWigs+'echo.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-work-2.jpg','alt':'Change','link':{'url':catalogWigs+'change.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-work-3.jpg','alt':'Yara','link':{'url':catalogWigs+'yara.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-work-4.jpg','alt':'Elite','link':{'url':catalogWigs+'elite.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )
      p
        strong Вечерний
      p Выпускные, свадебные, некоторые классические прически.
      +gallery(
        [
          {'url':imagesFolder+'style-evening-1.jpg','alt':'Charisma','link':{'url':catalogWigs+'charisma.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-evening-2.jpg','alt':'Gloss','link':{'url':catalogWigs+'gloss.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-evening-3.jpg','alt':'Arrow','link':{'url':catalogWigs+'arrow.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-evening-4.jpg','alt':'Pretty','link':{'url':catalogWigs+'pretty.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )
      p
        strong Элегантный 
      p Стильные стрижки.
      +gallery(
        [
          {'url':imagesFolder+'style-elegant-1.jpg','alt':'Oceane','link':{'url':catalogWigs+'oceane.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-elegant-2.jpg','alt':'Lucky','link':{'url':catalogWigs+'lucky.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-elegant-3.jpg','alt':'Splendid','link':{'url':catalogWigs+'splendid.html','text':'Перейти к модели'}},
          {'url':imagesFolder+'style-elegant-4.jpg','alt':'Charme','link':{'url':catalogWigs+'charme.html','text':'Перейти к модели'}}
        ],
        {'size':'small'}
      )


      h2 Выбор причесок на&nbsp;париках в&nbsp;зависимости от&nbsp;формы лица
      p Хотите выбрать хорошую прическу на&nbsp;парике&nbsp;&mdash; фото, вот что вам поможет. 
      p Предлагаем посмотреть, как подбирать прическу по&nbsp;форме лица. 
      p Существует 7&nbsp;форм лица:
      
      +image(imagesFolder+'face-round.jpg').image-float_left
      h3 Круг 
      p Длина и ширина примерно одинаковые, подбородок и щеки округлые, лоб широкий.
      h4(style='clear:both') Идеальные прически для круглого лица
      +image(imagesFolder+'face-round-style.jpg','Причёски для круглого лица')
      p Подбирайте прически с более длинными волосами. Пряди по бокам и на затылке укладывайте ближе к голове.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-round-model-1.jpg','alt':'Shape','link':{'url':catalogWigs+'shape.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-round-model-2.jpg','alt':'Miami','link':{'url':catalogWigs+'miami.html','text':'Перейти к модели'}}
      ])
      p Избегайте: густых челок, причесок, сильно скрывающих лицо.
      
      +image(imagesFolder+'face-oval.jpg').image-float_left
      h3 Овал
      p Форма лица плавно закругленная (немного уже в&nbsp;зоне челюсти, чем в&nbsp;области висков), пропорциональна, длина примерно в&nbsp;1,5 раза превышает длину.
      h4(style='clear:both') Идеальные прически для овального лица
      +image(imagesFolder+'face-oval-style.jpg','прически для овального лица')
      p Подойдут многие прически, кроме удлиняющих лицо. Оптимально&nbsp;&mdash; забранные наверх или назад волосы.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-oval-model-1.jpg','alt':'California Mono','link':{'url':catalogWigs+'california-mono.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-oval-model-2.jpg','alt':'Jamila','link':{'url':catalogWigs+'jamila.html','text':'Перейти к модели'}}
      ])
      
      +image(imagesFolder+'face-square.jpg').image-float_left
      h3 Квадрат
      p Подбородок, скулы и&nbsp;лоб примерно одинаковой ширины. Можно выделить квадратную линию роста волос и&nbsp;такой&nbsp;же подбородок.
      h4(style='clear:both') Идеальные прически для квадратного лица
      +image(imagesFolder+'face-square-style.jpg','прически для квадратного лица')
      p Подберите прическу с&nbsp;объемом по&nbsp;бокам головы и&nbsp;в&nbsp;верхней части. Подойдут стрижки средней длины и&nbsp;короткие, с&nbsp;волнистыми волосами, легкой челкой, боковым пробором, высокие прически.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-square-model-1.jpg','alt':'New York Mono','link':{'url':catalogWigs+'new-york-mono.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-square-model-2.jpg','alt':'Boston Mono','link':{'url':catalogWigs+'boston-mono.html','text':'Перейти к модели'}}
      ])
      p Избегайте: Прямых проборов и челок, длинных прямых волос, прямого каре до линии подбородка. 
      
      +image(imagesFolder+'face-heart.jpg').image-float_left
      h3 Сердце
      p Слишком широкий лоб и&nbsp;чрезмерно узкий подбородок.
      h4(style='clear:both') Идеальные прически для сердцевидного лица
      +image(imagesFolder+'face-heart-style.jpg','прически для сердцевидного лица')
      p Небольшое количество прядей в&nbsp;области лба скорректирует его ширину. Подойдет прическа с&nbsp;укладкой ближе к&nbsp;голове, незначительным объемом перед мочками ушей и&nbsp;у&nbsp;подбородка. 
      p Выбирайте стрижки длиной до&nbsp;подбородка и&nbsp;чуть ниже, легкие челки, проборы, стрижку &laquo;Каскад&raquo;, каре до&nbsp;подбородка.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-heart-model-1.jpg','alt':'Broadway Luxury','link':{'url':catalogWigs+'broadway-luxury.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-heart-model-2.jpg','alt':'Yara','link':{'url':catalogWigs+'yara.html','text':'Перейти к модели'}}
      ])
      p Избегайте: Сужающихся книзу объемных стрижек на короткие волосы. 

      +image(imagesFolder+'face-diamond.jpg').image-float_left
      h3 Бриллиант
      p Узкие лоб и&nbsp;подбородок (примерно одинаковой ширины), широкие скулы.
      h4(style='clear:both') Идеальные прически для лица в&nbsp;форме бриллиант
      +image(imagesFolder+'face-diamond-style.jpg','прически для лица в форме бриллиант')
      p Скрыть челкой узкий лоб, выбрать прическу, расширяющуюся книзу, с&nbsp;волосами, близко уложенными в&nbsp;зоне скул, с&nbsp;объемом в&nbsp;области шеи.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-diamond-model-1.jpg','alt':'Splendid','link':{'url':catalogWigs+'splendid.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-diamond-model-2.jpg','alt':'Favour Look','link':{'url':catalogWigs+'favour-look.html','text':'Перейти к модели'}}
      ])
      p Избегайте: прятать черты лица под волосами.

      +image(imagesFolder+'face-pear.jpg').image-float_left
      h3 Груша
      p Нижняя часть лица широкая, лоб узкий.
      h4(style='clear:both') Идеальные прически для грушевидного лица
      +image(imagesFolder+'face-pear-style.jpg','прически для грушевидного лица')
      p Выберите прическу с&nbsp;объемом в&nbsp;области затылка и&nbsp;верхней части головы.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-pear-model-1.jpg','alt':'City Look','link':{'url':catalogWigs+'city-look.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-pear-model-2.jpg','alt':'Alexis','link':{'url':catalogWigs+'alexis-deluxe.html','text':'Перейти к модели'}}
      ])
      p Избегайте: причесок с волосами на уровне шеи и по бокам, не выбирайте длинные и пышные стрижки. 

      +image(imagesFolder+'face-long.jpg').image-float_left
      h3 Вытянутое
      p Очень узкая и&nbsp;длинная голова (длина больше ширины, примерно одинаковые подбородок и&nbsp;лоб).
      h4(style='clear:both') Идеальные прически для вытянутого лица
      +image(imagesFolder+'face-long-style.jpg','прически для вытянутого лица')
      p Подойдет прическа с&nbsp;легкой челкой, ниспадающими волнистыми волосами. 
      p Выбирайте длину до&nbsp;плеч, многослойную и&nbsp;ступенчатую структуру, объем по&nbsp;бокам, боковые проборы.
      h4 Подойдут модели:
      +gallery([
        {'url':imagesFolder+'face-long-model-1.jpg','alt':'Load','link':{'url':catalogWigs+'load.html','text':'Перейти к модели'}},
        {'url':imagesFolder+'face-long-model-2.jpg','alt':'Pretty','link':{'url':catalogWigs+'pretty.html','text':'Перейти к модели'}}
      ])
      p Избегайте: высоких причесок, прямых проборов, длинных волос.


      h2 Как определить форму лица? 

      h3 Метод зеркала
      p Соберите волосы. Подойдите вплотную к&nbsp;зеркалу, обведите отражение лица. Получившуюся форму сверьте с&nbsp;изображениями.

      h3 Метод кальки
      p Перенесите очертания лица с&nbsp;фото на&nbsp;бумагу.

      h3 Метод измерения
      p Возьмите гибкий метр или линейку. Измерьте:
      - var list = ['расстояние между скулами;','ширину нижней челюсти (в&nbsp;самом широком месте);','ширину лба (в&nbsp;самом широком месте);','расстояние от&nbsp;линии роста волос до&nbsp;края подбородка.']
      +list-marked(list)
      p Посмотрите расшифровку результата в&nbsp;таблице. 


      h2 Практические советы
      p Также при выборе прически учитывают черты внешности: длину носа, размер ушей, форму лба, подбородка, длину шеи, форму тела (худая или толстая). 
      p С&nbsp;помощью парика можно выгодно подчеркнуть изюминки внешности и&nbsp;скорректировать черты лица в&nbsp;более выигрышную сторону.
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,6,6)
          h4 Курносый нос
          +image-desc(imagesFolder+'features-1.jpg','волны, завитые волосы, не&nbsp;закрывающие уши, ступенчатая стрижка, прямой или боковой пробор<br><a href="'+catalogWigs+'charisma.html">Перейти к модели</a>','Charisma')
        +block-wrap__item(4,4,6,6)
          h4 Длинный нос
          +image-desc(imagesFolder+'features-2.jpg','пышные прически средней длины, объем в&nbsp;теменной или затылочной зоне, большая густая чёлка<br><a href="'+catalogWigs+'oceane.html">Перейти к модели</a>','Avanti')
        +block-wrap__item(4,4,6,6)
          h4 Высокий лоб
          +image-desc(imagesFolder+'features-3.jpg','причёски, закрывающие естественную линию лба: разные по&nbsp;длине челки, концы, подстриженные зубцами или ровно; прически с&nbsp;локонами<br><a href="'+catalogWigs+'cat.html">Перейти к модели</a>','Cat')
        +block-wrap__item(4,4,6,6)
          h4 Квадратный подбородок
          +image-desc(imagesFolder+'features-4.jpg','пышная челка, объем в&nbsp;теменной зоне, завитые волосы<br><a href="'+catalogWigs+'load.html">Перейти к модели</a>','Load')
        +block-wrap__item(4,4,6,6)
          h4 Острый подбородок
          +image-desc(imagesFolder+'features-5.jpg','волосы средней длины, завитые кончики<br><a href="'+catalogWigs+'spirit.html">Перейти к модели</a>','Spirit')
        +block-wrap__item(4,4,6,6)
          h4 Маленький подбородок
          +image-desc(imagesFolder+'features-6.jpg','волосы средней длины, отдельные пряди ниже уровня подбородка, пышные волосы на&nbsp;уровне подбородка и&nbsp;носа<br><a href="'+catalogWigs+'splendid.html">Перейти к модели</a>','Splendid')
        +block-wrap__item(4,4,6,6)
          h4 Оттопыренные уши
          +image-desc(imagesFolder+'features-7.jpg','объемные волосы у&nbsp;висков, волна или локоны<br><a href="'+catalogWigs+'empire-mono.html">Перейти к модели</a>','Empire mono')
        +block-wrap__item(4,4,6,6)
          h4 Короткая шея
          +image-desc(imagesFolder+'features-8.jpg','длина волос разная, завитки на&nbsp;уровне скул и&nbsp;глаз<br><a href="'+catalogWigs+'jamila.html">Перейти к модели</a>','Jamila')
        +block-wrap__item(4,4,6,6)
          h4 Длинная шея
          +image-desc(imagesFolder+'features-9.jpg','волосы средней длины, пряди с&nbsp;завитками на&nbsp;кончиках<br><a href="'+catalogWigs+'marusha-mono.html">Перейти к модели</a>','Marusha mono')
        +block-wrap__item(4,4,6,6)
          h4 Пышная грация
          +image-desc(imagesFolder+'features-10.jpg','кудрявые волосы: сбалансируют пропорции тела<br><a href="'+catalogWigs+'sunny.html">Перейти к модели</a>','Sunny')

      p Смотрите полезные советы по&nbsp;выбору прически парика в&nbsp;видео:
      +youtube-responsive('v85bB8Z4kEk')


      h2 Модные тенденции в&nbsp;прическах

      h3 Каре
      p В&nbsp;почете классика и&nbsp;каре до&nbsp;плеч. Лучше придать волосам легкую небрежность, уложить пряди в&nbsp;виде волн. В&nbsp;дополнение к&nbsp;такой прическе подойдет челка: прямая или на&nbsp;бок. 

      h3 Короткие стрижки
      p Актуальны не&nbsp;только короткие, но&nbsp;и&nbsp;ультракороткие стрижки. Идеальны для женщин с&nbsp;гармоничными пропорциями головы. 

      h3 Волны
      p Все так&nbsp;же в&nbsp;тренде красиво уложенные волнистые волосы. Такая укладка выглядит женственно и&nbsp;романтично. 
      p Модели париков с&nbsp;волнистыми волосами:
      +list-marked([
        '<a href=\"/catalog/pariki/pretty.html\">Pretty</a>',
        '<a href=\"/catalog/pariki/naomi.html\">Naomi</a>'
      ])


      h2 Какие бывают разновидности этих причесок?

      h3 Виды каре
      .gallery
        .gallery__item
          h4 Каре с&nbsp;удлиненными прядями
          +image(imagesFolder+'rianna.jpg', 'Каре с удлиненными прядями')
          p Модели париков:
          +list-marked([
            '<a href=\"/catalog/pariki/flirt-look.html\">Flirt look</a>',
            '<a href=\"/catalog/pariki/spirit.html\">Spirit</a>'
          ])
        .gallery__item
          h4 Классическое каре
          +image(imagesFolder+'heteuey.jpg', 'Классическое каре')
          p Модели париков:
          +list-marked([
            '<a href=\"/catalog/pariki/idaho.html\">Idaho</a>',
            '<a href=\"/catalog/pariki/delicate.html\">Delicate</a>'
          ])
        .gallery__item
          h4 Каре на ножке
          +gallery([{'url':imagesFolder+'bekhem-1.jpg','alt':'Каре на ножке'},{'url':imagesFolder+'bekhem-2.jpg','alt':'Каре на ножке'}])
          p Модели париков:
          +list-marked([
            '<a href=\"/catalog/pariki/flirt-look.html\">Flirt look</a>',
            '<a href=\"/catalog/pariki/spirit.html\">Spirit</a>'
          ])

      h3 Виды коротких стрижек
      .gallery
        .gallery__item
          h4 Стрижка &laquo;Пикси&raquo;
          +image(imagesFolder+'teron.jpg', 'Стрижка Пикси')
          p Модели париков:
          +list-marked([
            '<a href=\"/catalog/pariki/carol.html\">Carol</a>',
            '<a href=\"/catalog/pariki/space.html\">Space</a>'
          ])
        .gallery__item
          h4 Стрижка &laquo;Гарсон&raquo;
          +image(imagesFolder+'uotson.jpg', 'Стрижка Гарсон')
          p Модели париков:
          +list-marked([
            '<a href=\"/catalog/pariki/tab.html\">Tab</a>',
            '<a href=\"/catalog/pariki/liza-small-deluxe.html\">Liza small deluxe</a>'
          ])
