extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/kak-podobrat-tsvet-parika/'
  .container
    .content
      p Для того чтобы выбрать цвет, который будет идеально подходить вам нужно учитывать:
      +list-marked(['цвет глаз','оттенок кожи','привычный макияж','возраст','образ, который вы&nbsp;хотите получить: естественный или выделяющийся'])
      p В&nbsp;большинстве случаев 
        strong натуральный пигмент
        | &nbsp;&mdash; лучший вариант на&nbsp;большей части жизни.


      h2 Цвет глаз
      p Нужно сочетать 
        strong холодные тона с&nbsp;холодными
        | , а&nbsp;
        strong теплые с&nbsp;теплыми.
      +list-marked(['Голубоглазым и&nbsp;сероглазым подходит цвет парика блонд','Если глаза карие или ореховые, то&nbsp;подойдут золотистые оттенки','Зеленая цвет глаз станет ярче от&nbsp;соседства с&nbsp;мягкими медными оттенками'])


      h2 Цвет кожи
      p Оттенок кожи и&nbsp;цвет волос парика должны 
        strong жить в&nbsp;согласии
        | , подчеркивая красоту друг друга.
      +list-marked(['С&nbsp;теплой кожей не&nbsp;следует носить парик в&nbsp;слишком темных тонах.','Людям с&nbsp;белой кожей с&nbsp;осторожностью нужно выбирать яркие цвета: рыжий, красный, каштановый и&nbsp;готический черный.'])


      h2 Выбор парика в&nbsp;зависимости от&nbsp;цветотипа

      p 
        strong Цветотип
        | &nbsp;&mdash; сочетание оттенка глаз, оттенка кожи и&nbsp;натурального цвета волос.
      p Определите свой цветотип по&nbsp;описанию и&nbsp;узнайте, какой цвет волос парика вам подойдет.

      h3 Лето
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          +image(imagesFolder+'summer.jpg','Цветотип лето')
        +block-wrap__item(8,8,8,6)
          p Кожа бледная или оливковая, но&nbsp;обязательно с&nbsp;холодным оттенком. Даже после жаркого лета она покрывается лишь едва уловимым загаром.
          p Волосы&nbsp;&mdash; от&nbsp;светло-русого до&nbsp;каштанового. Нередко от&nbsp;природы серовато-мышиного цвета, в&nbsp;детстве часто светло-русые, с&nbsp;годами темнеют, приобретая пепельный оттенок.
          p Глаза&nbsp;&mdash; серо- или зелено-голубые, но&nbsp;иногда встречаются ореховые.
      h4 Подходящий цвет волос
      p Широкая гамма оттенков холодного блонда, сдержанные русые оттенки и&nbsp;орехово-шоколадные тона.
      +gallery([
        {'url':imagesFolder+'imbirnyy.jpg','desc':'Имбирный'},
        {'url':imagesFolder+'karamelnyy.jpg','desc':'Карамельный'},
        {'url':imagesFolder+'konyachnyy.jpg','desc':'Коньячный'},
        {'url':imagesFolder+'svetlo-karamelnyy.jpg','desc':'Светло-карамельный'},
        {'url':imagesFolder+'svetlo-medovyy.jpg','desc':'Светло-медовый'},
        {'url':imagesFolder+'svetlyy-shampan.jpg','desc':'Светлый шампань'},
        {'url':imagesFolder+'temno-pesochnyy.jpg','desc':'Тёмно-песочный'},
        {'url':imagesFolder+'shampan.jpg','desc':'Шампань'},
        {'url':imagesFolder+'shokolad.jpg','desc':'Шоколад'},
        {'url':imagesFolder+'yantarnyy.jpg','desc':'Янтарный'}
      ],{'size':'small'})

      h3 Зима
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          +image(imagesFolder+'winter.jpg','Цветотип зима')
        +block-wrap__item(8,8,8,6)
          p Кожа может быть как фарфорово-белой, так и&nbsp;оливковой, бледной, без румянца и&nbsp;всегда с&nbsp;голубоватым отливом.
          p Волосы&nbsp;&mdash; темно-каштановые или иссиня-черные.
          p Глаза имеют яркий насыщенный цвет: серый, голубой или карий.
      h4 Подходящий цвет волос
      p Широкая гамма темных оттенков.
      +gallery([
        {'url':imagesFolder+'korichnevyy-orekh.jpg','desc':'Коричневый орех'},
        {'url':imagesFolder+'krasnoe-derevo.jpg','desc':'Красное дерево'},
        {'url':imagesFolder+'krasnyy.jpg','desc':'Красный'},
        {'url':imagesFolder+'mokka.jpg','desc':'Мокка'},
        {'url':imagesFolder+'temnyy-shokolad.jpg','desc':'Тёмный шоколад'},
        {'url':imagesFolder+'chernyy.jpg','desc':'Чёрный'},
        {'url':imagesFolder+'chistyy-kashtanovyy.jpg','desc':'Чистый каштановый'},
        {'url':imagesFolder+'espresso.jpg','desc':'Эспрессо'},
      ],{'size':'small'})

      h3 Весна
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          +image(imagesFolder+'spring.jpg','Цветотип весна')
        +block-wrap__item(8,8,8,6)
          p Кожа светлая или прозрачная, с&nbsp;оттенком слоновой кости или бронзовым отливом.
          p Волосы: обычно светлые, пшенично-медовые волосы
          p Глаза&nbsp;&mdash; синие, зеленые или орехового оттенка.
      h4 Подходящий цвет волос
      p В&nbsp;качестве цвета для волос лучше выбрать теплые оттенки.
      +gallery([
        {'url':imagesFolder+'imbirnyy.jpg','desc':'Имбирный'},
        {'url':imagesFolder+'karamelnyy.jpg','desc':'Карамельный'},
        {'url':imagesFolder+'konyachnyy.jpg','desc':'Коньячный'},
        {'url':imagesFolder+'mango.jpg','desc':'Манго'},
        {'url':imagesFolder+'mokka.jpg','desc':'Мокка'},
        {'url':imagesFolder+'nasyshchennyy-mednyy.jpg','desc':'Насыщенный медный'},
        {'url':imagesFolder+'peschanyy-blond.jpg','desc':'Песчаный блонд'},
        {'url':imagesFolder+'svetlyy-yantarnyy.jpg','desc':'Светлый янтарный'},
        {'url':imagesFolder+'shafranovyy-krasnyy.jpg','desc':'Шафрановый красный'},
        {'url':imagesFolder+'shokolad.jpg','desc':'Шоколад'}
      ],{'size':'small'})

      h3 Осень
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
          +image(imagesFolder+'autumn.jpg','Цветотип осень')
        +block-wrap__item(8,8,8,6)
          p Волосы: с&nbsp;золотистым или медным оттенком.
          p Кожа либо прозрачно-белая, с&nbsp;веснушками и&nbsp;легко обгорает на&nbsp;солнце, либо смуглая, бежево-золотистая.
          p Глаза золотисто-карие, искристо-янтарные, зеленые с&nbsp;золотыми искрами, но&nbsp;могут быть и&nbsp;серо-голубой гаммы.
      h4 Подходящий цвет волос
      p Вам идеально подойдут яркие и&nbsp;&laquo;вкусные&raquo; оттенки.
      +gallery([
        {'url':imagesFolder+'iriska.jpg','desc':'Ириска'},
        {'url':imagesFolder+'korichnevyy-orekh.jpg','desc':'Коричневый орех'},
        {'url':imagesFolder+'krasnoe-derevo.jpg','desc':'Красное дерево'},
        {'url':imagesFolder+'mango.jpg','desc':'Манго'},
        {'url':imagesFolder+'mokka.jpg','desc':'Мокка'},
        {'url':imagesFolder+'nasyshchennyy-mednyy.jpg','desc':'Насыщенный медный'},
        {'url':imagesFolder+'temnyy-shokolad.jpg','desc':'Тёмный шоколад'},
        {'url':imagesFolder+'chistyy-kashtanovyy.jpg','desc':'Чистый каштановый'},
        {'url':imagesFolder+'shafranovyy-krasnyy.jpg','desc':'Шафрановый красный'},
        {'url':imagesFolder+'shokolad.jpg','desc':'Шоколад'}
      ],{'size':'small'})


      h2 Особенности

      h3 Хотите смягчить внешность и&nbsp;придать образу женственность?
      p Выберите парик на&nbsp;1-2 тона светлее, чем ваш натуральный оттенок. Либо выберите яркий цвет, который смягчит резкие черты лица.

      h3 Хотите выглядеть моложе?
      p Выбирайте теплые и&nbsp;золотистые оттенки.

      h3 Неровный цвет кожи?
      p К&nbsp;коже с&nbsp;покраснениями или раздражениями лучше подбирать каштановый или теплый русый цвет. Яркая цветовая гамма идеальна для молодых девушек с&nbsp;розовым тоном лица. 

      h3 Есть веснушки?
      p Красный цвет сделает веснушки незаметными.


      h2 Какие бывают цвета париков?
      p Каждый парик имеет свой набор оттенков (вариантов цвета). Количество доступных оттенков меняется в&nbsp;зависимости от&nbsp;марки (NJ&nbsp;Creation и&nbsp;Ellen Wille), коллекции или модели парика.
      +list-marked(['Ellen Wille&nbsp;&mdash; от&nbsp;10&nbsp;до&nbsp;46&nbsp;вариантов оттенков','NJ&nbsp;Creation&nbsp;&mdash; от&nbsp;5&nbsp;до&nbsp;39&nbsp;вариантов оттенков.'])
      p Мы&nbsp;сгруппировали оттенки и&nbsp;получили базовые цвета париков. 
      +list-marked(['блонд;','русый;','рыжий;','брюнет;','пепельный;','шатен.'])

      h3 Как найти парики нужного цвета?
      p Для того чтобы отобрать парики определенного оттенка:
      p
        strong Шаг&nbsp;1:
        |  выбрать базовый цвет парика, в&nbsp;фильтре
        +image(imagesFolder+'filter.png','Фильтр цветов')
      p
        strong Шаг&nbsp;2:
        |  в&nbsp;отобранных париках перейти в&nbsp;карточку товара и&nbsp;там будут все возможные варианты оттенков.
        +image(imagesFolder+'colours-block.png','Блок цветов')
      p Также вы&nbsp;можете купить парики с&nbsp;модными эффектами:
      +list-marked(['мелирование','смешивание оттенков','эффект отросших корней'])
