extends /blocks/layout/layout

block content
  +container
    +content
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12,6)
          p Продаем готовые накладки из натуральных и искусственных волос.
          p Накладки, как правило, используют для того, чтоб скрыть проблемную зону. Они легче, чем парик, и позволяют сочетать добавленные волосы со своими собственными. При этом у накладки чаще уже задана определенная форма, и вам не надо тратить время на укладку. 
          p В большинстве случаев для фиксации накладки к собственным волосам используются миниатюрные зажимы, которых совершенно не видно в волосах.
          +text-highlighted
            p В салоне Центр Дизайна Волос представлен большой выбор накладок, а также 
              +link('/khvosty-i-shinony/','накладных хвостов')
              |  различных видов, фасонов, длин, текстур и цветов.

      +image-desc(
        '/images/overlays/ideal-volume.jpg',
        'Модель накладки Ideal volume (в наличии) от NJ Creation включает 16 цветов.',
        'Накладка Ideal volume от NJ Creation'
      )
      h2 Шиньоны французского производителя NJ Creation
      p Самые популярные шиньоны в форме хвоста, сделанного из длинных волос. Хвост это разновидность шиньона. 
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12,6)
          p Посмотрите как преобразиться Ольга одев накладку.
          +youtube-responsive('RWE6urLtRoA')
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,12,6)
          h2 Приглашаем примерить и купить шиньоны в магазин в Санкт-Петербурге
          p Приглашаем всех заинтересованных на бесплатную консультацию по постижерным изделиям. Наш адрес: г Санкт-Петербург, набережная обводного канала 108. Магазин шиньонов и хвостов открыт с 10 утра до 9 вечера, ежедневно.
          p Звоните, проконсультируем по наличию цветов и размеров шиньонов:<br>
            strong +7 (812) 386-11-62
          | <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=0jFSeud2k6YiSEPpq1L9FIjWP8F6PbZr&amp;height=370&amp;lang=ru_RU&amp;sourceType=constructor"></script> 
