extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/pariki-na-zakaz-ot-professionalov/'
  .container
    .content
      p Внимание! Внимание!
      p По&nbsp;причине большого количества заказов, на&nbsp;данный момент парики на&nbsp;заказ изготавливаются исключительно по&nbsp;предварительной записи.
      p Ни&nbsp;для кого не&nbsp;секрет, что модные тенденции время от&nbsp;времени повторяются и&nbsp;то, что уже забыто и&nbsp;неактуально, завтра снова появится на&nbsp;обложках глянцевых журналах и&nbsp;на&nbsp;знаменитостях. Сегодня снова в&nbsp;моду вошли парики! Многие люди при помощи париков изменяют свой имидж, не&nbsp;прикладывая особых усилий и&nbsp;не&nbsp;тратя лишних средств. Для некоторых людей парик является необходимостью, единственной возможностью скрыть редеющие волосы на&nbsp;голове или и&nbsp;вовсе их&nbsp;полное отсутствие. Для того чтобы убедиться в&nbsp;том, что это идеальный вариант, чтобы скрыть свой физический недостаток, поверить что на&nbsp;самом деле помогут парики фото можно посмотреть на&nbsp;сайте!
      p Качественные парики изготавливают из&nbsp;натурального либо искусственного волокна, безусловно, предпочтение во&nbsp;все времена отдавалось натуральным волосам. Благодаря им&nbsp;парик будет выглядеть более естественно, более привлекательно. Кроме того, он&nbsp;будет менее заметен окружающим. Однако если бюджет очень ограничен, то&nbsp;можно приобрести парики дёшево из&nbsp;искусственных волос. Сделанные профессионалами, они имеют максимальное сходство с&nbsp;натуральными.
      p В&nbsp;нашем салоне&nbsp;Вы можете найти примеры париков, основываясь на&nbsp;которые, Вы&nbsp;сможете сделать собственные индивидуальный заказ. При этом с&nbsp;головы будут непременно сняты мерки (размеры головы, глубина...). Ведь парик, изготовленный по&nbsp;индивидуальному заказу отличается дополнительными преимуществами. Созданные специально для Вас по&nbsp;Вашим собственным размерам, он&nbsp;будет максимально удобным в&nbsp;ношении, сможет принять четко форму головы, независимо от&nbsp;того, пал&nbsp;ли Ваш выбор на&nbsp;длинные парики или на&nbsp;короткие.
      p Мы&nbsp;предлагаем парики различной структуры и&nbsp;окраски волос. У&nbsp;нас&nbsp;Вы всегда сможете найти для себя наиболее подходящий вариант. Это могут быть классические русые или черные парики либо нестандартные, кокетливые рыжие.
      p Парики, созданные из&nbsp;натуральных волос, предлагаемые в&nbsp;нашем салоне, будут очень удобными в&nbsp;использовании, они будут выглядеть естественно, и&nbsp;не&nbsp;будут мешать Вам при носке. Мы&nbsp;предлагаем парики недорого, несмотря на&nbsp;то, что уровень профессионализма наших мастеров огромен, ведь наша главная цель&nbsp;&mdash; сделать услугу заказа парика по&nbsp;индивидуальным размерам доступной. Волосы натурального парика&nbsp;Вы всегда сможете с&nbsp;легкостью уложить, используя для этого специальные средства для париков. Помимо этого, натуральный парик можно окрашивать, а&nbsp;также делать либо убирать завивку. Однако все это лучше доверить рукам профессионала, чтобы волосы парика не&nbsp;пострадали, а&nbsp;натуральный парик прослужил годы.
      p Мы&nbsp;будем очень рады помочь Вам в&nbsp;создании отличного парика, мы&nbsp;также всегда рады оказаться Вам полезными в&nbsp;выборе наиболее подходящего парика и&nbsp;изготовлении его наилучшим образом!
      -
        var galleryImages = [
          {'url': imagesFolder + 'wig1-b.jpg','alt':''},
          {'url': imagesFolder + 'wig2-b.jpg','alt':''},
          {'url': imagesFolder + 'wig3-b.jpg','alt':''},
          {'url': imagesFolder + 'wig4-b.jpg','alt':''},
          {'url': imagesFolder + 'wig5-b.jpg','alt':''},
          {'url': imagesFolder + 'wig6-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
      p
        strong Парики из искусственных волос марки Ellen-Wille.<br>Производство: Германия. 
      -
        var galleryImages = [
          {'url': imagesFolder + 'band-wig-b.jpg','alt':''},
          {'url': imagesFolder + 'halfwig-braid-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-blond-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
      p
        strong Тамбурованная (ручная вязка) макушка, трессированный затылок (машинная вязка).<br>Производство: Китай.

      -
        var galleryImages = [
          {'url': imagesFolder + 'wig-black-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black1-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black2-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
      p
        strong Тамбурованная фронтальная зона на сеточке, для создания наиболее натуральной линии, тамбурованная макушка, трессированный затылок.<br>Производство: Китай.
      -
        var galleryImages = [
          {'url': imagesFolder + 'wig-black-n-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black-n1-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black-n2-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
      p
        strong Полностью тамбурованная основа.<br>Производство: Китай.
      -
        var galleryImages = [
          {'url': imagesFolder + 'wig-blond1-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-blond2-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-blond3-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
      p
        strong Тамбурованная (ручная вязка) макушка, трессированный затылок (машинная вязка). Для крепления дополнительно используются гребешки и минизажимы.<br>Производство: Китай.
      -
        var galleryImages = [
          {'url': imagesFolder + 'wig-black3-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black4-b.jpg','alt':''},
          {'url': imagesFolder + 'wig-black5-b.jpg','alt':''}
        ]
      +gallery(galleryImages)
