extends /blocks/layout/layout
include /blocks/payment-methods/payment-methods
block content
  +container
    +content
      +block-wrap()
        +block-wrap__item(8,8,12,6)
          h1 Доставка
          h3 Санкт-Петербург. Самовывоз из магазина
          p Адрес: набережная Обводного канала - 108
          p Время работы: ежедневно с 10 до 21.
          p 
            strong Бесплатно.
          p
            +link('/kontakty/', 'Как добраться?')
          p В магазине представлены все парики из наличия. У нас есть отдельные примерочные, в которых подберем парик.
          h3 Санкт-Петербург. Курьером по городу
          p Курьер доставит по адресу. Время и дата доставки обговаривается при подтверждение заказа нашим оператором.
          p
            strong Стоимость 345 рублей. 
          p В отдаленные районы и пригороды стоимость может меняться, точную стоимость вы узнаете в момент оформления заказа. Укажите адрес доставки и сайт автоматически рассчитает стоимость.
          h3 Доставка по России
          p
            +image('/images/payment/sdek.jpg','Транспортная компания СДЭК')
          p Отправляем транспортной компанией СДЭК.
          h4 Доставка до пункта выдачи СДЭК в вашем городе
          p Стоимость и скорость доставки зависит от удаленности города от Санкт-Петербурга.
          p Срок доставки и стоимость рассчитывается автоматически в корзине при оформлении заказа. Для расчета укажите ваш город и выберите способ доставки “Транспортной компанией”.
          h4 Доставка по адресу курьером СДЭК
          p Стоимость и скорость доставки зависит от удаленности города от Санкт-Петербурга.
          p Срок доставки и стоимость рассчитывается автоматически в корзине при оформлении заказа. Для расчета укажите ваш город и выберите способ доставки “Транспортной компанией (курьер)”.
          p Курьер доставит по адресу, стоимость увеличится на 150 рублей, от стоимости до пункта выдачи. В день доставки курьер позвонит и согласует время.
          h2.h1 Способы оплаты
          h3.h2 В магазине: наличными или банковской картой.
          p При самовывозе из магазина принимаем к оплате наличные или банковские карты.
          h3.h2 Онлайн оплата на сайте
      +block-wrap()
        +block-wrap__item(4,4,6,6)
          +payment-methods('Банковские карты', [
            {'image':'mir'},
            {'image':'mc'},
            {'image':'visa'},
            {'image':'applepay'}
          ])
        +block-wrap__item(4,4,6,6)
          +payment-methods('Электронные деньги', [
            {'image':'yandexdengi'},
            {'image':'webmoney'},
            {'image':'qiwi'},
            {'image':'elexnet'}
          ])
        +block-wrap__item(4,4,6,6)
          +payment-methods('Терминалы', [
            {'image':'elexnet'},
            {'image':'qiwi'}
          ])
        +block-wrap__item(4,4,6,6)
          +payment-methods('Интернет-банкинг', [
            {'image': 'alfabank'},
            {'image':'russtand'},
            {'image':'vtb24'},
            {'image':'psb'},
            {'image': 'handy'}
          ])
        +block-wrap__item(4,4,6,6)
          +payment-methods('Баланс телефона', [
            {'image': 'beeline'},
            {'image': 'megafon'},
            {'image': 'mts'},
            {'image': 'tele2'}
          ])
        +block-wrap__item(4,4,6,6)
          +payment-methods('Наличными в салонах связи', [
            {'image': 'svyaznoy'},
            {'image': 'euroset'}
          ])
      +block-wrap()
        +block-wrap__item(8,8,12,6)
          include /blocks/payment-yandex-kassa/payment-yandex-kassa
