extends /blocks/layout/layout

block content
  +container
    +content
      +breadcrumbs
      +h1('Active Look — легкий женский, короткий парик под каре из искуственных волос')
      +block-wrap({'wrap':true})
        +block-wrap__item(4,4,4,6)
        +block-wrap__item(8,8,8,6)
          include ../blocks/product-top/product-top
          include ../blocks/product-palette/product-palette
          include ../blocks/product-buy/product-buy
          include ../blocks/product-properties/product-properties
      include /blocks/product-tabs/product-tabs
      +h2('Похожие парики')
      include ../blocks/product-similar/product-similar
      +h2('Отзывы клиентов о Active Look — Annika Hansen')
      +block-wrap({'wrap':true})
        +block-wrap__item(8,8,8,6)
          p(style='width: 100%; height 300px; background-color:#ccc') здесь отзывы
      +h2('Рекомендуем средства по уходу за париками')
      include ../blocks/product-recommended/product-recommended
      +h2('Просмотренные  ранее  товары')
      include ../blocks/product-viewed/product-viewed
  +modal('Цвет парика')#product-color-modal.product-color-modal 
    p У каждого парика десятки разных цветов, цвета париков из разных коллекций тоже отличаются.
      | <br>Если показажем в подборе парика все возможные цвета их будет 400 оттенков.
    p Для простоты поиска, мы выбрали основные цвета:
    div(style='width: 200px; height: 64px; background-color: #ccc') здесь цвета
    p Выберите "светлый" и увидите все парики у которых есть оттенок белого. Например парики блонд.
