extends /blocks/layout/layout

block content
  -
    var imagesFolder = '/images/ukhod-za-parikami/'
  .container
    .content
      p Внешний вид парика, который вы&nbsp;носите ежедневно в&nbsp;течение 6&nbsp;&mdash; 9&nbsp;месяцев, будет постепенно терять свежесть. Поэтому, чтобы сохранить ее&nbsp;как можно дольше, ухаживайте за&nbsp;изделием правильно.


      h2 Как бережно носить парик?
      +list-numbered([
        '<strong>Сохраните изделие от&nbsp;растягивания:</strong> регулируйте размер с&nbsp;помощью специальных ремешков, чтобы посадка парика по&nbsp;голове была максимально комфортна.',
        '<strong>Зафиксируйте:</strong> в&nbsp;непогоду дополнительно зафиксируйте, например, шарфом.',
        '<strong>Восстанавливайте парик:</strong> периодически проводите рестайлинг изделия у&nbsp;стилиста.',
        '<strong>Будьте аккуратны.</strong> Надевайте и&nbsp;снимайте парик неспешно, поправляйте руками.'
      ])


      h2 Как ухаживать за&nbsp;париком в&nbsp;домашних условиях?
      +list-descriptions([
        {
          name:'Два&nbsp;&mdash; лучше одного',
          desc:'Способ сохранить парик долговечно&nbsp;&mdash; количество изделий. Купите 2&nbsp;парика, и&nbsp;вы&nbsp;продлите срок службы, решите вопрос прически на&nbsp;период мытья и&nbsp;сушки первого изделия.'
        },
        {
          name:'Снимайте парик на&nbsp;ночь',
          desc:'Не&nbsp;спите в&nbsp;парике&nbsp;&mdash; тогда он&nbsp;прослужит долго. Трение о&nbsp;подушку сделает волосы тонкими, ломкими. Позаботьтесь о&nbsp;коже головы&nbsp;&mdash; надевайте мягкую шапочку на&nbsp;период сна.'
        },
        {
          name:'Решение при потливости кожи головы',
          desc:'Защитите парик от&nbsp;пота, а&nbsp;кожу от&nbsp;раздражения&nbsp;&mdash; носите одноразовые прокладки или специальную шапочку.'
        },
        {
          name:'Защитите от&nbsp;солнца',
          desc:'Парик изменит цвет и&nbsp;выцветет, если хранить его под прямыми солнечными лучами.'
        },
        {
          name:'Правильная вода',
          desc:'Не&nbsp;навредите парику: избегайте горячей, морской и&nbsp;хлорированной воды.'
        }
      ])
      
      
      h2 Как ухаживать за&nbsp;париком из&nbsp;натуральных волос?
      p Нужно бережно относиться к&nbsp;изделию. Будьте внимательны к&nbsp;длинным вьющимся волосам, расчесывайте пальцами или гребнями с&nbsp;крупными зубьями, потому что они могут легко запутываться. Для волос другого типа используйте антистатическую расческу. 
      p Не&nbsp;нагревайте чрезмерно: выпрямитель и&nbsp;фен для волос включайте на&nbsp;среднюю мощность. Не&nbsp;подходите в&nbsp;парике к&nbsp;открытому огню, кипящей воде, открытой духовке, снимайте перед походом в&nbsp;солярий.
      +list-numbered([
        'Уход за&nbsp;натуральным париком: главные этапы',
        'Неспешно расчешите волосы так, чтобы расческа не&nbsp;соприкасалась с&nbsp;основой парика.',
        'Вымойте изделие шампунем, температура воды&nbsp;&mdash; от&nbsp;18&deg;C.&nbsp;Движения плавные.',
        'Ополосните изделие в&nbsp;холодной воде по&nbsp;направлению от&nbsp;корней волос.',
        'Чтобы сохранить естественный блеск волос и&nbsp;шелковистость, нанесите бальзам.',
        'Бережно выжмите парик. Сушить изделие надо на&nbsp;полотенце, вдали от&nbsp;источников тепла.',
        'Сделайте укладку. Парик встряхните, начните расчесывать от&nbsp;кончиков волос.'
      ])
      
      
      h2 Как ухаживать за&nbsp;искусственным париком?
      p Мойте изделие регулярно, но&nbsp;не&nbsp;часто (1&nbsp;раз в&nbsp;7&nbsp;дней при ежедневном использовании). Не&nbsp;трите волосы: оберните полотенцем, избыток влаги удалите похлопывающими движениями. 
      p 
        +image(imagesFolder + 'uhod-1.jpg').image-float_left
        | Уход за&nbsp;париками из&nbsp;искусственных волос требует бережности. Причесывать и&nbsp;укладывать начинайте после полного высыхания. Используйте гребни и&nbsp;щетки, разработанные для синтетических париков.
      p(style='clear:both;')
        +image(imagesFolder + 'uhod-2.jpg').image-float_left
        | Электрощипцы, термобигуди, утюжки&nbsp;&mdash; табу для париков из&nbsp;искусственных волос. Допускаются инструменты для укладки волос средней мощности. В&nbsp;парике из&nbsp;искусственных волос не&nbsp;открывайте духовку, держитесь подальше от&nbsp;кипящей воды, пара, открытого огня (печей, грилей для барбекю).

      h3(style='clear:both;') Уход за&nbsp;искусственным париком в&nbsp;домашних условиях
      p Мыть парик надо раз в&nbsp;2-3&nbsp;месяца. 
      p Этапы ухода:
        
      ol.list-numbered
        li Расчешите волосы щеткой. Для этого выберите изделие с&nbsp;металлическими зубьями.
          +gallery([{'url': imagesFolder+'002.jpg', 'alt':''}, {'url': imagesFolder+'003.jpg', 'alt':''}])
        li В&nbsp;емкость налейте воду (температура&nbsp;&mdash; от&nbsp;18&deg;C), взбейте в&nbsp;ней шампунь. Промойте парик.
          +gallery([
            {'url': imagesFolder+'004.jpg', 'alt':''},
            {'url': imagesFolder+'005.jpg', 'alt':''},
            {'url': imagesFolder+'006.jpg', 'alt':''},
            {'url': imagesFolder+'007.jpg', 'alt':''},
            {'url': imagesFolder+'008.jpg', 'alt':''},
            {'url': imagesFolder+'009.jpg', 'alt':''}
          ])
        li Ополосните в&nbsp;холодной воде.
          +gallery([
            {'url': imagesFolder+'017.jpg', 'alt':''},
            {'url': imagesFolder+'018.jpg', 'alt':''}
          ])
        li Можно слегка отжать изделие.
          +gallery([
            {'url': imagesFolder+'010.jpg', 'alt':''},
            {'url': imagesFolder+'011.jpg', 'alt':''}
          ])
        li Нанесите бальзам или кондиционер.
          +gallery([
            {'url': imagesFolder+'012.jpg', 'alt':''},
            {'url': imagesFolder+'013.jpg', 'alt':''},
            {'url': imagesFolder+'014.jpg', 'alt':''},
            {'url': imagesFolder+'015.jpg', 'alt':''},
            {'url': imagesFolder+'016.jpg', 'alt':''}
          ])
        li Высушите изделие на&nbsp;полотенце.
          +gallery([
            {'url': imagesFolder+'019.jpg', 'alt':''},
            {'url': imagesFolder+'020.jpg', 'alt':''},
            {'url': imagesFolder+'021.jpg', 'alt':''}
          ])
        li Сделайте укладку. Встряхните парик, бережно расчешите, начиная от&nbsp;кончиков волос.
          +gallery([
            {'url': imagesFolder+'022.jpg', 'alt':''},
            {'url': imagesFolder+'023.jpg', 'alt':''},
            {'url': imagesFolder+'024.jpg', 'alt':''},
            {'url': imagesFolder+'025.jpg', 'alt':''},
            {'url': imagesFolder+'026.jpg', 'alt':''}
          ])


      h2 Хранение&nbsp;&mdash; дополнительное условие долговечности
      p Храните парик на&nbsp;манекене или подставке с&nbsp;твердой поверхностью&nbsp;&mdash; сохраните форму изделия. Не&nbsp;выбирайте основу меньше шапки парика: растянется и&nbsp;перестанет подходить по&nbsp;размеру. 
      p Храните в&nbsp;сухом прохладном месте (влага разрушает волокно), вдали от&nbsp;прямых солнечных лучей (парик выцветает).


      h2 Специальные средства для ухода
      p Обычные средства для ухода не&nbsp;подойдут&nbsp;&mdash; повредят структуру волоса. Выберите линию от&nbsp;Estel Otium Aqua &laquo;Интенсивное увлажнение&raquo;&nbsp;&mdash; позаботьтесь о&nbsp;париках из&nbsp;натуральных и&nbsp;синтетических волос. 
      p
        picture
          source(media='(max-width: 480px)' srcset= imagesFolder+'estel-otium-aqua.jpg')
          img(src= imagesFolder+'estel-otium-aqua.jpg' srcset= imagesFolder+'estel-otium-aqua@2.jpg 2x')
      p Рекомендуем:
      +list-marked([
        '<strong>Деликатный шампунь</strong>: удерживает влагу внутри волоса, дарит блеск, мягкость, шелковистость, эффект антистатика, в&nbsp;составе нет лауретсульфат натрия.',
        '<strong>Комфорт-маску</strong>: восстанавливает структуру волос, гидробаланс, дарит упругость, эластичность и&nbsp;гладкость.',
        '<strong>Легкий бальзам</strong>: кондиционирует, глубоко насыщает структуру волос, дарит упругость, гладкость, шелковистость, блеск.',
        '<strong>Спрей-кондиционер</strong>: мгновенно насыщает сухие волосы влагой, выравнивает кутикулу, приглаживает чешуйки, дарит силу, блеск волосам, кондиционирует.',
        '<strong>Сыворотка &laquo;Экспресс-увлажнение&raquo;</strong>: насыщает влагой пересушенные кончики, выравнивает кутикулу ломких, сухих волос, удерживает влагу внутри волоса, дарит блеск, не&nbsp;перегружает волосы, делает их&nbsp;&laquo;послушными&raquo;, эффект защиты от&nbsp;неблагоприятных воздействий.'
      ])
