nav.navigation-other-activities
  ul.navigation-other-activities__list
    li.navigation-other-activities__item
      a(href='http://www.hairdesign.ru/')
        span Центр<br>замещения волос
    li.navigation-other-activities__item
      a(href='http://salonvolos.spb.ru/')
        span Салон красоты
    li.navigation-other-activities__item.navigation-other-activities__item_active
      .a-repl
        span Парики и<br>головные уборы
    li.navigation-other-activities__item
      a(href='http://triholog.org/')
        span Лечебная косметика<br>для волос
    li.navigation-other-activities__item
      a(href='http://zagustitelvolos.com/')
        span Загустители волос<br>Toppik
