.navigation-other-activities
  width 100%
  font-family 'Arial', sans-serif
  &__list
    display flex
    margin-left -5px
  &__item
    flex 1 1 20%
    margin-left 5px
    font-size 12px
    line-height 16px
    display flex
    a
    .a-repl
      position relative
      display flex
      justify-content space-between
      width 100%
      align-items center
      margin-bottom 5px
      padding 4px 10px
      text-decoration none
      color #5d5d5d
      background-color #fcfcfc
      span
        flex 0 1 auto
      &::after
        content ''
        flex-shrink 0
        background-repeat no-repeat
    &:first-of-type
      a::after
        width 52px
        height 37px
        background-image svgImport('svg/top-menu-hairdesign.svg')
    &:nth-of-type(2)
      a::after
        width 23px
        height 30px
        background-image svgImport('svg/top-menu-salon.svg')
    &:nth-of-type(3)
      .a-repl::after
        width 52px
        height 37px
        background-image svgImport('svg/top-menu-vsepariki.svg')
    &:nth-of-type(4)
      a::after
        width 14px
        height 35px
        background-image svgImport('svg/top-menu-triholog.svg')
    &:nth-of-type(5)
      a::after
        content ''
        width 42px
        height 37px
        background-image svgImport('svg/top-menu-zagustitel.svg')
    &_active
      background-color #fff
      a
      .a-repl
        font-weight bold
        background-color transparent
    &:hover
      background-color #fff
      a
      .a-repl
        background-color transparent
