+container().home-top
	+content()
		+block-wrap({'wrap':true})
			+block-wrap__item(4,4,12,6)
				include ../home-filter-form/home-filter-form
			+block-wrap__item(8,8,12,6)
				include ../home-slider/home-slider
