.home-filter-form
  padding 1rem
  background-color #f9f9f9
  max-width 420px
  margin-left auto
  margin-right auto
  @media screen and (max-width 1024px)
    margin-bottom 2rem
  &__header
    padding-left .5rem
    padding-right .5rem
    font-size 1.5rem
  &__fieldset
    padding 1rem
    border-color #baafcd
  &__subheader
    font-size 0.8125rem
    font-style italic
    color #7a7a7a
  &__types
    display flex
    flex-wrap wrap
  &__type
    flex-basis 100%
    margin-bottom .5rem
    @media screen and (max-width 1024px) and (min-width 787px)
      flex-basis 50%
  &__row
    display flex
    margin-bottom 1rem
    flex-basis 100%
    &:last-child
      margin-bottom 0
  &__input
    flex-basis calc(100% / 3)
    flex-grow 1
    white-space nowrap
    margin-bottom .5rem
    & input[type='radio']
      display inline
  &__bottom
    display flex
    
  &__submit
    margin-right 1rem
  &__link
    font-size 0.8125rem
