.home-slider
  .fotorama
    .home-slider__item
      img(src='/images/home/desc-1.jpg')
      img(src='/images/home/desc-1.jpg')
    .home-slider__item 2
    .home-slider__item 3
    .home-slider__item 4
  
