.home-slider
  position relative
  &__item
    background-color #fff
.fotorama
  width 100%
  &__nav
    position absolute
    bottom 0
    width 100%
    z-index 10000
    &__frame
      .fotorama__dot
        width 10px !important
        height 10px !important
        border-radius 0
        border none
        background #fff
        top 10px !important
        left 4px !important
  &__active
    .fotorama__dot
      background-color #7b66a1
  &__arr
    background-color #fff
    width 40px
    height 32px
    border 1px solid #baafcd
    color #baafcd
    &:hover
      background-color #baafcd
      color #fff
    &--prev
      left 0
      &::before
        content '←'
        display block
        width 40px
        height 32px
        line-height 32px
        top 0
        left 0
        text-align center
    &--next
      right 0
      &::before
        content '→'
        display block
        width 40px
        height 32px
        line-height 32px
        top 0
        left 0
        text-align center
