.catalog-description
  &__palette
    display flex
    flex-wrap wrap
    margin -.5rem
  &__palette-item
    margin .5rem
    text-align center
    .image-desc
      display flex
      flex-direction column
      align-items center
