.payment-safety
  padding 16px
  background-color #f0f0f0
  display flex
  align-items center
  flex-wrap wrap
  div
    flex-basis 477px
    width 100%
    position relative
    padding-left 48px
    margin 8px 0
    &::before
      content ''
      position absolute
      top 0
      left 0
      width 40px
      height 48px
      display inline-block
      background url('../images/payment/lock.svg')
      background-repeat no-repeat
      background-size 64px
      background-position center
      margin-right 16px
  &::after
    content ''
    width 251px
    height 31px
    flex-basis 251px
    display block
    margin-left 16px
    background url('../images/payment/safety.png')
    background-repeat no-repeat
    background-size 251px
    background-position left center
