.product-palette
  +block-wrap({'wrap':true}).block-wrap_justify-space-between
    .block-wrap__item.product-subheader Цвет
    +link-interactive('#product-color-modal', 'Как выбрать цвет').block-wrap__item.product-palette
  div(style='height: 200px;width: 100%;background-color: #ccc') здесь палитра
