.catalog-product-colors
  .catalog-product-colors__title Цвет
  ul.catalog-product-colors__list
    li.catalog-product-colors__item
      a(href="" style="background-image: url('../images/catalog/colors/color-1.png')")
    li.catalog-product-colors__item
      a(href="")
    li.catalog-product-colors__item
      a(href="")
    li.catalog-product-colors__item
      a(href="" style="background-image: url('../images/catalog/colors/color-1.png')")
    li.catalog-product-colors__item
      a(href="")
    li.catalog-product-colors__item
      a(href="")
    li.catalog-product-colors__item
      a(href="" style="background-image: url('../images/catalog/colors/color-1.png')")
    li.catalog-product-colors__item
      a(href="")
    li.catalog-product-colors__item
      a(href="")
