.catalog-product-colors
  &__title
    font-size 0.8125rem
    color #7a7a7a
    font-style italic
    margin-bottom .3rem
  &__list
    display flex
    flex-wrap wrap
    margin-left -2px
    margin-right -2px
  &__item
    margin 3px
    padding 3px
    outline 1px solid #c0cfda
    img
      display block
      width 2.5rem
      height 2.5rem
      background-color #d8d8d8