.home-description
  &__header
    margin-top 4rem
    margin-bottom 3rem
    text-align center
  &__subheader
    margin-top 0
    font-size 1.375rem
  &__item
    margin-bottom 8rem
    @media screen and (max-width 786px)
      margin-bottom 1rem
  &__image
    margin-bottom 1rem
    @media screen and (max-width 786px)
      order 2
    &:last-child
      .home-description__image-inner
        &::after
          @media screen and (min-width 787px)
            transform translate(-4rem, 4rem)
  &__image-inner
    position relative
    &::after
      content ''
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      transform translate(4rem, 4rem)
      background-color #fae6e3
      z-index -1
      @media screen and (max-width 786px)
        transform translate(.8571rem, .8571rem)
  &__text
    @media screen and (max-width 786px)
      order 1
.home-advantages
  display flex
  justify-content center
  padding-top 1rem
  padding-bottom 1rem
  &__item
    margin-left 1rem
    margin-right 1rem
    flex-basis 96px
    text-align center
    &:only-child
      flex-basis auto
    &_nj-creation
      background-image url('../images/njlogo.png')
      background-repeat no-repeat
      background-position top center
      padding-top 96px
    &_ellenwill
      background-image url('../images/ellenwillelogo.png')
      background-repeat no-repeat
      background-position top center
      padding-top 96px
  &__big
    font-size 2rem
    font-weight 500
    font-style italic
    line-height 2rem
    color #f7a3c8
    &_numbers
      font-size 3.75rem
      line-height 3.75rem
  &__caption
    font-style italic
    color #5e5e5e
    @media screen and (min-width 787px)
      font-size 0.875rem
  &_mobile
    flex-direction column
    .home-advantages__item
      display flex
      text-align left
      flex-basis auto
      margin-bottom .5rem
      &:last-of-type
        display block
    .home-advantages__big
      margin-right .5rem
