mixin catalog-product(settings = {"image":"","name":"","price":"","oldPrice":"","colors":false})
  .catalog-product
    a(href='').catalog-product__image
      img(src=settings.image)
    .catalog-product__name
      a(href='') !{settings.name} 
    .catalog-product__prices
      .catalog-product__price !{settings.price} руб.
      if settings.oldPrice
        .catalog-product__old-price !{settings.oldPrice} руб.
    if settings.colors
      .catalog-product__colors
        include ../catalog-product-colors/catalog-product-colors
    
