.catalog-product
  position relative
  padding-top 12px
  //min-height 100%
  margin-bottom 1rem
  width 100%
  transition box-shadow .2s
  &__offer
    display none
    &:first-child
      display block
  @media screen and (max-width 1024px)
    padding-top 6px
  &__image
    display block
    margin-bottom .5rem
    align-items center
    display flex
    justify-content center
    & img
      max-height 100%
  &__name
    margin-bottom .5rem
    font-size 0.875rem
    @media screen and (max-width 786px)
      font-size 1rem
    & a
      text-decoration none
    & a:hover
      text-decoration underline
  &__prices
    display flex
    margin-bottom .5rem
  &__price
    color #7b66a1
    font-weight 500
  &__old-price
    margin-left 1rem
    color #5e5e5e
    text-decoration line-through
  &__colors
    display none
  &:hover
  &:focus
    position absolute
    top 0
    left 0
    z-index 66
    background-color #ffffff
    box-shadow 0 0 25px rgba(69,58,90,.8)
    padding 12px
    @media screen and (max-width 1024px)
      padding 6px
    .catalog-product
      &__colors
        display block
      &__name
        white-space normal
