.link-icons
  parMargin()
  display flex
  align-items center
  margin 0 -.25rem
  &__link
    display block
    height 0
    margin 0 .25rem
    padding 1rem
    background-repeat no-repeat
    background-position center
    background-size contain
    &--whatsapp
      background-image var(--icon-whatsapp)
    &--viber
      background-image var(--icon-viber)
    &--instagram
      background-image var(--icon-instagram)
