.top-menu.s-hidden
  .container
    .content
      include ../nav-top/nav-top
header.header-main
    +container().header-main__top
      +content()
        +block-wrap().block-wrap_align-center.s-hidden
          a(href='/').block-wrap__item.header-main__logo
          .block-wrap__item.header-main__nav
            include ../nav-main/nav-main
            include ../header-info/header-info
          .block-wrap__item.header-main__basket
            include ../header-basket/header-basket

        +block-wrap.block-wrap_align-center.xl-hidden.l-hidden.m-hidden
          a(href='/').block-wrap__item.header-main__logo
          .block-wrap__item.header-main__info
            .header-info__big Интернет-магазин париков в Санкт-Петербурге
    +container().header-main__bottom
      +content()
        +block-wrap({
          'nopadding':true
        }).s-hidden
          +block-wrap__item(9,9,12)
            include ../nav-catalog/nav-catalog
          +block-wrap__item(3).m-hidden.s-hidden
            include ../header-search/header-search
        include ../header-mobile/header-mobile
        
