.header-search
  height 100%
  border 2px solid #5b4980
  &__form
    display flex
    height 100%
    position relative
  &__input
    position relative
    flex-grow 1
    width 100%
    height 100%
    padding 0 calc(1rem + 48px) 0 1rem
    font-size .75rem
    font-style italic
    background-color #5b4980
    background-image url('../images/search-inactive.png')
    background-repeat no-repeat
    background-position center right
    z-index 1
    &::placeholder
      color #dddae5
    &:focus
    &:active
      background-color #fff
      & + .header-search__submit
        background-color #fff
        z-index 2
      &::after
        z-index -1
  &__submit
    position absolute
    top 0
    right 0
    width 48px
    height 100%
    z-index -1
    flex-basis 48px
    height 100%
    background-color transparent
    background-image url('../images/search-active.png')
    background-repeat no-repeat
    background-position center
    cursor pointer
    background-color #5b4980
